* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	color: #091133;
	-webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
	@include fz('norm');
}

.svg-icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: #000;
	overflow: hidden;
}

.app {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	// background-image: url('../img/tmp/Test_finish.jpg');
	// background-position: center top;
	// background-repeat: no-repeat;

	&__header {
		flex: 0 0 auto;
	}

	&__main {
		flex: 1 1 auto;
		padding-bottom: 36px;
		// opacity: .7;
	}

	&__footer {
		flex: 0 0 auto;
	}
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.link {
	color: $pink;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
