// Vendor
@import "../../../node_modules/bootstrap/scss/vendor/rfs"; 

@import "../../../node_modules/bootstrap/scss/functions";
// @import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../node_modules/bootstrap/scss/mixins/grid-framework";
@import "../../../node_modules/bootstrap/scss/mixins/grid";
@import "../../../node_modules/bootstrap/scss/mixins/image";
@import "../../../node_modules/bootstrap/scss/mixins/border-radius";
@import "../../../node_modules/bootstrap/scss/mixins/box-shadow";

// Options

$enable-rounded:                              true !default;
$enable-shadows:                              false !default;
$enable-transitions:                          true !default;
$enable-grid-classes:                         true !default;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

$sizes: () !default;
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1120px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1120px
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-columns: 12 !default;
$grid-gutter-width: 40px !default;
$grid-row-columns: 6 !default;

// Image thumbnails

$thumbnail-padding:                 .25rem !default;
$thumbnail-bg:                      #fff !default;
$thumbnail-border-width:            1px !default;
$thumbnail-border-color:            #dee2e6 !default;
$thumbnail-border-radius:           .25rem !default;
$thumbnail-box-shadow:              0 1px 2px rgba(#000, .075) !default;

// Figures

$figure-caption-font-size:          90% !default;
$figure-caption-color:              #6c757d !default;

// Utilities

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;

@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/utilities/display";
@import "../../../node_modules/bootstrap/scss/utilities/flex";
@import "../../../node_modules/bootstrap/scss/utilities/spacing";
// @import "../../../node_modules/bootstrap/scss/transitions";
// @import "../../../node_modules/bootstrap/scss/nav";
// @import "../../../node_modules/bootstrap/scss/pagination";