$fontList: (
	h1: (
		xl: (fz: 50px, lh: 1.25),
		lg: (fz: 30px, lh: 1.25),
		md: (fz: 30px, lh: 1.25),
		sm: (fz: 30px, lh: 1.35)
	),
	h2: (
		xl: (fz: 42px, lh: 1.35),
		lg: (fz: 28px, lh: 1.35),
		md: (fz: 24px, lh: 1.35),
		sm: (fz: 24px, lh: 1.25)
	),
	h3: (
		xl: (fz: 24px, lh: 1.3),
		lg: (fz: 20px, lh: 1.3),
		md: (fz: 18px, lh: 1.3),
		sm: (fz: 18px, lh: 1.45)
	),
	h4: (
		xl: (fz: 20px, lh: 1.35),
		lg: (fz: 16px, lh: 1.35),
		md: (fz: 14px, lh: 1.35),
		sm: (fz: 14px, lh: 1.35)
	),
	norm: (
		xl: (fz: 18px, lh: 1.4),
		lg: (fz: 16px, lh: 1.4),
		md: (fz: 14px, lh: 1.4),
		sm: (fz: 14px, lh: 1.4)
	),
	small: (
		xl: (fz: 14px, lh: 1.4),
		lg: (fz: 14px, lh: 1.4),
		md: (fz: 14px, lh: 1.4),
		sm: (fz: 14px, lh: 1.4)
	)
) !default;

@mixin getProps($size: size, $key: norm, $lh: false) {
	$fontListProps: map-get($fontList, $key);
	$fontProps: map-get($fontListProps, $size);
	font-size: map-get($fontProps, 'fz');
	@if $lh {
		line-height: $lh;
	} @else {
		line-height: map-get($fontProps, 'lh');;
	}
}

@mixin fz($key: norm, $lh: false) {	
	@include getProps('xl', $key, $lh);
	@include breakpoint(max-width $break-xl) {
		@include getProps('lg', $key, $lh)
	}
	@include breakpoint(max-width $break-lg) {
		@include getProps('md', $key, $lh)
	}
	@include breakpoint(max-width $break-md) {
		@include getProps('sm', $key, $lh)
	}
}
