.navbar {
	@include breakpoint(max-width $break-md) {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: $white;
		padding: 20px 0;
		z-index: 10;
	}

	&__nav {
		list-style: none;
		margin: 0 -18px 0 0;
		padding: 0;
		font-size: 0;
	}

	&__nav-item {
		display: inline-block;
		padding-left: 20px;
		padding-right: 20px;

		@include breakpoint(max-width $break-md) {
			display: block;
			padding: 10px 0;
			text-align: center;
		}
	}

	&__link {
		font-size: 18px;
		line-height: 26px;
		border-bottom: 1px solid transparent;
		color: #505F98;
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-weight: 500;
		transition: color 176ms linear;
		text-decoration: none;
		display: inline-block;
		cursor: pointer;
		padding: 4px 0px;

		&:hover {
			color: #E986E9;
		}

		.active > & {
			border-bottom-color: #E986E9;
			color: #E986E9;
		}
	}
}

.navbar-toggler {
	font-size: 0;
	cursor: pointer;
	display: none;
	width: 32px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 13px;

	@include breakpoint(max-width $break-lg) {
		display: block;
	}

	&_open {
		right: 42px;
		top: 30px;

		@include breakpoint(max-width $break-md) {
			right: 26px;
			top: 20px;
		}
	}

	&_close {
		width: 38px;
		height: 38px;
		right: 22px;
		top: 10px;
		z-index: 1;

		.menu-open & {
			@include breakpoint(max-width $break-lg) {
				display: block;
			}
		}

		@include breakpoint(max-width $break-md) {
			right: 13px;
			top: 9px;
		}
	}

	&__box {
		position: relative;
		display: inline-block;
		width: 32px;
		height: 40px;
		padding: 6px;
		pointer-events: none;
	}

	&_close &__box {
		width: 38px;
		height: 38px;
	}

	&__inner {
		top: 50%;
		display: block;
		margin-top: 0;
		transition-timing-function: cubic-bezier(.55,.055,.675,.19);
		transition-duration: 75ms;
	}

	&.is-active &__inner {
		width: 32px;
		transition-delay: .12s;
		transition-timing-function: cubic-bezier(.215,.61,.355,1);
		transform: rotate(45deg);
	}

	&_close.is-active &__inner {
		width: 28px;
	}

	&__inner,
	&__inner:before,
	&__inner:after {
		border-radius: 5px;
		position: absolute;
		width: 24px;
		height: 2px;
		transition-timing-function: ease;
		transition-duration: .15s;
		transition-property: transform;
		background-color: #323232;
	}

	&.is-active &__inner:after {
		background-color: #323232;
	}

	&.is-active &__inner,
	&.is-active &__inner:before,
	&.is-active &__inner:after
	.app.is-contest-page & {
		background-color: #323232;
	}

	&__inner:before,
	&__inner:after {
		display: block;
		content: "";
	}

	&__inner:before {
		top: -10px;
		transition: top 75ms ease .12s, opacity 75ms ease;
	}

	&.is-active &__inner:before {
		top: 0;
		transition: top 75ms ease, opacity 75ms ease .12s;
		opacity: 0;
	}

	&__inner:after {
		bottom: -10px;
		transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55,.055,.675,.19);
	}

	&.is-active &__inner:after {
		width: 32px;
		bottom: 0;
		transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
		transform: rotate(-90deg);
	}

	&_close.is-active &__inner:after {
		width: 28px;
	}
}
