footer.app__footer
	.footer
		.container.footer__container
			a.footer__brand(href="#")
				img.footer__brand-img(src="./img/brand-f.svg" alt="MSDMED")
			.footer__content
				.footer__content-col.footer__content-col_left
					p &copy;&nbsp;2020&nbsp;ООО &laquo;МСД Фармасьютикалс&raquo;.<br>Все права защищены.
					p 119021, Россия, г. Москва, ул. Тимура Фрунзе, д.&nbsp;11, стр.&nbsp;1, БЦ&nbsp;&laquo;Демидов&raquo;.
					p Тел.: +7 (495) 916-71-00,
					p Факс: +7 (495) 916-70-94
					p <a href="https://www.msd.ru" target="_blank">www.msd.ru</a>
					p Информация, размещенная на&nbsp;веб-сайте msdmed.ru, предназначена только для специалистов здравоохранения, практикующих на&nbsp;территории РФ.
					p RU-CXB-00153, 12.2019
				.footer__content-col.footer__content-col_right
					p Данная информация предоставлена МSD в&nbsp;качестве информационной поддержки врачам. Информация, относящаяся к&nbsp;какому-либо лекарственному препарату(ам) может не&nbsp;соответствовать утвержденной инструкции по&nbsp;применению. Перед назначением любого из&nbsp;упомянутых препаратов, пожалуйста, ознакомьтесь с&nbsp;полной утвержденной инструкцией по&nbsp;применению. Компания МSD не&nbsp;рекомендует применять препараты компании способами, отличными от&nbsp;описанных в&nbsp;инструкции по&nbsp;применению.
					p
						b Контакт-центр DPOC
					p Для сообщений о&nbsp;нежелательных явлениях на&nbsp;фоне применения лекарственных препаратов MSD, претензий к&nbsp;качеству продукции и/или для получения медицинской и&nbsp;научной информации о&nbsp;препаратах компании:
					p +7 (495) 916-71-00 (доб.&nbsp;120)
					p <a href="DPOC.Russia@merck.com" target="_blank">DPOC.Russia@merck.com</a>
					p Пожалуйста, примите во&nbsp;внимание, что отправляя информацию на&nbsp;эл.почту dpoc.russia@merck.com, Вы&nbsp;даете свое согласие на&nbsp;обработку Ваших персональных данных. Мы&nbsp;гарантируем, что любые полученные персональные данные будут обрабатываться исключительно в&nbsp;соответствии с&nbsp;политикой ООО &laquo;МСД Фармасьютикалс&raquo; в&nbsp;отношении обработки персональных данных. С&nbsp;текстом политики ООО &laquo;МСД Фармасьютикалс&raquo; в&nbsp;отношении обработки персональных данных&nbsp;Вы можете ознакомиться на&nbsp;сайте msd.ru. Вы&nbsp;можете отозвать свое согласие на&nbsp;обработку персональных данных в&nbsp;любой момент, направив заявление об&nbsp;этом в&nbsp;ООО &laquo;МСД Фармасьютикалс&raquo; или по&nbsp;эл.почте russiadataprivacy@merck.com.
			.footer__nav
				ul.footer__navbar
					li.footer__navbar-item
						a.footer__navbar-link(href="#") Правила пользования
					li.footer__navbar-item
						a.footer__navbar-link(href="#") Политика конфиденциальности
					li.footer__navbar-item
						a.footer__navbar-link(href="#") Положение об&nbsp;обработке персональных данных
					li.footer__navbar-item
						a.footer__navbar-link(href="#") Вопросы и&nbsp;ответы
					li.footer__navbar-item
						a.footer__navbar-link(href="#") Настройки cookie-файлов
