block pageVar

header.app__header
	.menu-top
		.menu-top__wrap
			.container.menu-top__container
				.menu-top__navbar
					.menu-top__navbar-item.menu-top__navbar-item_back
						a.menu-top__navbar-back(href="#") Вернуться на&nbsp;<b>MSDMED</b>
							span.menu-top__navbar-back-icon
								svg.svg-icon(aria-hidden="true" viewBox="0 0 19 8" xmlns="http://www.w3.org/2000/svg")
									path(d="M0.646446 3.64645C0.451185 3.84171 0.451185 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646446 3.64645ZM19 3.5H1V4.5H19V3.5Z" fill="#505F98")
					.menu-top__navbar-item.menu-top__navbar-item_profile
						.menu-profile
							.menu-profile__label Kovalev K.T.
								.menu-profile__label-icon
									svg.svg-icon(aria-hidden="true" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
										path(fill-rule="evenodd" clip-rule="evenodd" d="M7 14C10.866 14 14 10.866 14 7C14 3.13401 10.866 0 7 0C3.13401 0 0 3.13401 0 7C0 10.866 3.13401 14 7 14ZM7 9L4.5 6H9.5L7 9Z" fill="#E986E9")
							.menu-profile__dropdown
								.menu-profile__dropdown-item
									a.menu-profile__dropdown-link(href="#") Профиль
								.menu-profile__dropdown-item
									a.menu-profile__dropdown-link(href="#") На&nbsp;сайт MSDmed
								.menu-profile__dropdown-item
									a.menu-profile__dropdown-link(href="#") Выйти
		.menu-top__border
	.header
		.container.header__container
			a.header__brand(href="index.html")
				img.header__brand-img(src="./img/brand.svg" alt="Гардасил")
			.navbar-toggler.js-navbar-toggler
				.navbar-toggler__box
					.navbar-toggler__inner
			.header__navbar
				nav.navbar
					ul.navbar__nav
						li.navbar__nav-item(class=(page == 'index' ? 'active' : ''))
							a.navbar__link(href="index.html") Гардасил
						li.navbar__nav-item
							a.navbar__link(href="https://www.msdmed.ru/article/") Статьи
						li.navbar__nav-item
							a.navbar__link(href="https://www.msdmed.ru/video/") Видео
						li.navbar__nav-item(class=(page == 'faq' ? 'active' : ''))
							a.navbar__link(href="faq.html") Вопросы и&nbsp;ответы
						li.navbar__nav-item(class=(page == 'test' ? 'active' : ''))
							a.navbar__link(href="test.html") Тест
						li.navbar__nav-item
							a.navbar__link(href="#") Для медсестер