include ./_mixins

doctype html
html(lang="ru" class="")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		//- link(href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;500;600;700;900&display=swap" rel="stylesheet")
		link(href="./css/vendor.css" type="text/css" rel="stylesheet")
		link(href="./css/main.css" type="text/css" rel="stylesheet")
		
	body
		.app
			include ./modal
			include ./header
			.app__main
				block page
			include ./footer

		script(src="./js/jquery.min.js" type="text/javascript")
		script(src="./js/vendor.js" type="text/javascript")
		script(src="./js/main.js" type="text/javascript")
