.modal.js-modal
	.modal__inner
		.modal__substrate.js-modal__close
		.modal__item.js-modal__item(data-item="faq-01")
			.modal__close.js-modal__close
			.modal-faq
				.modal-faq__q До какого возраста рекомендуется проводить вакцинацию квадривалентной рекомбинантной вакциной против вируса папилломы человека?
				.modal-faq__a
					p Вакцина Гардасил показана к&nbsp;применению лицам в&nbsp;возрасте от&nbsp;9&nbsp;лет. Применение вакцины у&nbsp;лиц старше 45&nbsp;лет не&nbsp;регламентировано, однако, следует отметить, что данные по&nbsp;оценке безопасности и&nbsp;эффективности вакцины Гардасил у&nbsp;взрослых лиц старше 45&nbsp;лет отсутствуют.
			.modal-faq__navigate
				.modal-faq__navigate-i._prev._disable
				.modal-faq__navigate-i._next.js-modal-btn(data-target="faq-02")
		.modal__item.js-modal__item(data-item="faq-02")
			.modal__close.js-modal__close
			.modal-faq
				.modal-faq__q Нужно ли вакцинировать мальчиков против папилломавирусной инфекции?
				.modal-faq__a
					p Вирус папилломы человека вызывает заболевания как у&nbsp;представителей женского, так и&nbsp;мужского пола. Вакцинация мальчиков и&nbsp;мужчин против вируса папилломы человека обоснована, т.к. клинически доказано, что проведение полного курса вакцинации в&nbsp;90,6% случаев защищает от&nbsp;наружных генитальных поражений, а&nbsp;в&nbsp;77,5% случаев от&nbsp;развития анальной внутриэпителиальной неоплазии, вызываемых вирусом папилломы человека 6, 11, 16&nbsp;и&nbsp;18&nbsp;типов.
			.modal-faq__navigate
				.modal-faq__navigate-i._prev.js-modal-btn(data-target="faq-01")
				.modal-faq__navigate-i._next.js-modal-btn(data-target="faq-03")
		.modal__item.js-modal__item(data-item="faq-03")
			.modal__close.js-modal__close
			.modal-faq
				.modal-faq__q Насколько оправдана вакцинация девочек, если у&nbsp;них уже есть кондиломы?
				.modal-faq__a
					p Абсолютно оправдана. Инфицированность одним из&nbsp;типов ВПЧ, входящих в&nbsp;состав вакцины, не&nbsp;является противопоказанием к&nbsp;вакцинации. Четырехвалентная вакцина против вируса папилломы человека Гардасил защищает от&nbsp;6, 11, 16&nbsp;и&nbsp;18&nbsp;типов вируса, а&nbsp;также обеспечивает защиту у&nbsp;девочек и&nbsp;женщин в&nbsp;возрасте от&nbsp;9&nbsp;до&nbsp;26&nbsp;лет от&nbsp;цервикальной интраэпителиальной неоплазии 1/2/3&nbsp;степени.
			.modal-faq__navigate
				.modal-faq__navigate-i._prev.js-modal-btn(data-target="faq-02")
				.modal-faq__navigate-i._next.js-modal-btn(data-target="faq-04")
		.modal__item.js-modal__item(data-item="faq-04")
			.modal__close.js-modal__close
			.modal-faq
				.modal-faq__q Какая схема рекомендована для вакцинации квадривалентной вакциной Гардасил против вируса папилломы человека?
				.modal-faq__a
					p Рекомендуемый курс вакцинации состоит из&nbsp;трех доз и&nbsp;проводится по&nbsp;следующей схеме: Первая доза&nbsp;&mdash; в&nbsp;назначенный день; Вторая доза&nbsp;&mdash; через 2&nbsp;месяца после первой; Третья&nbsp;&mdash; через 6&nbsp;месяцев после первой.
					p Допускается ускоренная схема вакцинации, при которой вторя доза вводится через 1&nbsp;месяц после первой прививки, а&nbsp;третья&nbsp;&mdash; через 3&nbsp;месяца после второй прививки.
					p Также возможно проведение вакцинации детей и&nbsp;подростков по&nbsp;альтернативной 2-х дозовой схеме.
			.modal-faq__navigate
				.modal-faq__navigate-i._prev.js-modal-btn(data-target="faq-03")
				.modal-faq__navigate-i._next.js-modal-btn(data-target="faq-05")
		.modal__item.js-modal__item(data-item="faq-05")
			.modal__close.js-modal__close
			.modal-faq
				.modal-faq__q Считается&nbsp;ли курс вакцинации квадривалентной вакциной завершенным, если нарушен интервал между прививками?
				.modal-faq__a
					p Курс вакцинации считается завершенным даже при нарушении интервала между прививками, если 3&nbsp;прививки проведены в&nbsp;течение одного года.
			.modal-faq__navigate
				.modal-faq__navigate-i._prev.js-modal-btn(data-target="faq-04")
				.modal-faq__navigate-i._next.js-modal-btn(data-target="faq-06")
		.modal__item.js-modal__item(data-item="faq-06")
			.modal__close.js-modal__close
			.modal-faq
				.modal-faq__q Что такое альтернативная схема вакцинации и когда она может применяться?
				.modal-faq__a
					p Альтернативная схема вакцинации препаратом Гардасил состоит из&nbsp;2&nbsp;введений: Первая доза вводится в&nbsp;назначенный день; Вторая доза&nbsp;&mdash; через 6&nbsp;месяцев после первой. При этом в&nbsp;случае введения второй дозы ранее, чем через 6&nbsp;месяцев после первой дозы, всегда необходимо введение третьей дозы.
					p Альтернативная 2-х дозовая схема вакцинации препаратом Гардасил допускается у&nbsp;лиц в&nbsp;возрасте от&nbsp;9&nbsp;до&nbsp;13&nbsp;лет включительно.
			.modal-faq__navigate
				.modal-faq__navigate-i._prev.js-modal-btn(data-target="faq-05")
				.modal-faq__navigate-i._next.js-modal-btn(data-target="faq-07")
		.modal__item.js-modal__item(data-item="faq-07")
			.modal__close.js-modal__close
			.modal-faq
				.modal-faq__q Через сколько лет после вакцинации против папилломавируса квадривалентной вакциной требуется ревакцинация?
				.modal-faq__a
					p Необходимость проведения ревакцинации не&nbsp;установлена.
			.modal-faq__navigate
				.modal-faq__navigate-i._prev.js-modal-btn(data-target="faq-06")
				.modal-faq__navigate-i._next.js-modal-btn(data-target="faq-08")
		.modal__item.js-modal__item(data-item="faq-08")
			.modal__close.js-modal__close
			.modal-faq
				.modal-faq__q Какова эффективность вакцинации квадривалентной вакциной и&nbsp;длительность иммунитета против вируса папилломы человека?
				.modal-faq__a
					p Проведение полного курса вакцинации квадривалентной вакциной Гардасил приводит к&nbsp;образованию специфических антител к&nbsp;вирусу папилломы человека 6, 11, 16&nbsp;и&nbsp;18&nbsp;типов более чем у&nbsp;98% вакцинированных.
					p В&nbsp;настоящее время окончательные данные о&nbsp;длительности иммунитета после полного курса вакцинации препаратом Гардасил отсутствуют. Однако, в&nbsp;ходе долгосрочного наблюдения за&nbsp;вакцинированными было достоверно установлено, что на&nbsp;момент оценки, женщины и&nbsp;мужчины были защищены от&nbsp;клинических проявлений ВПЧ-ассоциированных заболеваний: женщины 16-23 года до&nbsp;14&nbsp;лет; женщины 24-45 лет до&nbsp;10&nbsp;лет; мужчины 16-26 лет до&nbsp;10&nbsp;лет.
			.modal-faq__navigate
				.modal-faq__navigate-i._prev.js-modal-btn(data-target="faq-07")
				.modal-faq__navigate-i._next.js-modal-btn(data-target="faq-09")
		.modal__item.js-modal__item(data-item="faq-09")
			.modal__close.js-modal__close
			.modal-faq
				.modal-faq__q Можно вводить Гардасил одновременно с другими вакцинами?
				.modal-faq__a
					p 
						| Вакцину Гардасил можно вводить одновременно, 
						span.underline
							| но&nbsp;в&nbsp;другой участок тела 
						| с&nbsp;рекомбинантной вакциной против гепатита&nbsp;В, с&nbsp;вакциной менингококковой, конъюгированной с&nbsp;дифтерийным анатоксином, и&nbsp;с&nbsp;инактивированной вакциной против дифтерии, столбняка, коклюша (бесклеточный компонент), вакциной против полиомиелита инактивированной.
			.modal-faq__navigate
				.modal-faq__navigate-i._prev.js-modal-btn(data-target="faq-08")
				.modal-faq__navigate-i._next.js-modal-btn(data-target="faq-10")
		.modal__item.js-modal__item(data-item="faq-10")
			.modal__close.js-modal__close
			.modal-faq
				.modal-faq__q Нужно&nbsp;ли временно прекращать прием гормональных контрацептивов&nbsp;до, во&nbsp;время или после вакцинации квадривалентной вакциной против вируса папилломы человека?
				.modal-faq__a
					p Применение гормональных контрацептивов не&nbsp;влияет на&nbsp;эффективность, иммуногенность и&nbsp;безопасность вакцины Гардасил.
			.modal-faq__navigate
				.modal-faq__navigate-i._prev.js-modal-btn(data-target="faq-09")
				.modal-faq__navigate-i._next.js-modal-btn(data-target="faq-11")
		.modal__item.js-modal__item(data-item="faq-11")
			.modal__close.js-modal__close
			.modal-faq
				.modal-faq__q Говорят, что вакцинация квадривалентной вакциной против вируса папилломы человека может негативно сказаться на&nbsp;фертильности. Так&nbsp;ли это?
				.modal-faq__a
					p Нет, такого рода информация не&nbsp;соответствует действительности. Данные о&nbsp;том, что введение вакцины Гардасил оказывает нежелательное воздействие на&nbsp;фертильность, отсутствуют.
			.modal-faq__navigate
				.modal-faq__navigate-i._prev.js-modal-btn(data-target="faq-10")
				.modal-faq__navigate-i._next.js-modal-btn(data-target="faq-12")
		.modal__item.js-modal__item(data-item="faq-12")
			.modal__close.js-modal__close
			.modal-faq
				.modal-faq__q Что такое &laquo;вирусоподобные частицы&raquo;, входящие в&nbsp;состав квадривалентной вакцины?
				.modal-faq__a
					p Вакцина Гардасил не&nbsp;содержит вирусов. Иммунный ответ организма достигается введением высокоочищенных вирусоподобных частиц, которые представляют собой рекомбинантные белки, идентичные капсидным белкам L1&nbsp;вируса папилломы человека 6, 11, 16&nbsp;и&nbsp;18&nbsp;типов. В&nbsp;процессе производства вакцины, высокоочищенные вирусоподобные частицы образуются путем самосборки. Такие вирусоподобные частицы не&nbsp;содержат ни&nbsp;других вирусных белков, ни&nbsp;генетического материала вирусов, и&nbsp;не&nbsp;могут вызвать заболевание.
			.modal-faq__navigate
				.modal-faq__navigate-i._prev.js-modal-btn(data-target="faq-11")
				.modal-faq__navigate-i._next._disable