.btn {
	display: inline-block;
	vertical-align: middle;
	padding: 12px 41px;
	background-color: $blue3;
	color: $white;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 100px;
	font-size: 14px;
	line-height: 16px;
	transition: background-color .25s ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: #45438e;
	}
}