.copyright {
    padding-top: 33px;
    padding-bottom: 33px;

    &__media {
        margin-bottom: 20px;
    }

    &__img {
        max-width: 100%;
        height: auto;
        display: inline-block;
        vertical-align: top;
    }

    &__content {
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #505F98;

        p {
            margin-top: 0;
            margin-bottom: 0;

            &+ p {
                margin-top: 10px;
            }
        }

        a {
            color: #505F98;
            text-decoration: none;
        }
    }
}