.footenote {
    counter-reset: item;

    a[href] {
        color: #505F98;
        text-decoration: none;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__list-item {
        counter-increment: item;
        color: #505F98;
        font-feature-settings: 'pnum' on, 'lnum' on;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        padding-left: 19px;

        &:before {
            content: counters(item, "decimal", decimal);
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &__leadtext {
        color: #505F98;
        font-feature-settings: 'pnum' on, 'lnum' on;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        padding-top: 30px;
        padding-bottom: 20px;
    }
}