.footer {
    background-color: #2F2E6B;
    padding-top: 40px;
    padding-bottom: 24px;
    
    &__brand {
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
    }

    &__barnd-img {
        max-width: 100%;
        height: auto;
        display: inline-block;
        vertical-align: top;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 24px;
		padding-bottom: 62px;
		
		@include breakpoint(max-width $break-sm) {
			display: block;
			padding-bottom: 30px;
		}
    }

    &__content-col {
        color: #fff;
        font-family: "Raleway", Arial, Helvetica, sans-serif;
        font-weight: 400;
		font-feature-settings: 'pnum' on, 'lnum' on;
		
		@include breakpoint(max-width $break-sm) {
			width: 100%;
		}

        p {
            margin-top: 0;
            margin-bottom: 0;

            &+ p {
                margin-top: 10px;
            }
        }

        a {
            color: #fff;
        }

        b {
            font-weight: 700;
        }
    }

    &__content-col_left {
        flex-basis: 300px;
        max-width: 300px;
        font-size: 14px;
		line-height: 18px;
		
		@include breakpoint(max-width $break-sm) {
			max-width: 100%;
			margin-bottom: 30px;
		}
    }

    &__content-col_right {
        flex-basis: calc(100% - 300px);
        max-width: calc(100% - 300px);
        font-size: 12px;
        line-height: 16px;
        padding-left: 60px;
		padding-top: 2px;
		
		@include breakpoint(max-width $break-sm) {
			max-width: 100%;
			padding-left: 0;
		}
    }

    &__nav {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    &__navbar {
        list-style: none;
        margin: 0 -28px;
        padding: 0;
        font-size: 0;

        @include breakpoint(max-width 1280px) {
            margin-left: -14px;
            margin-right: -14px;
        }

        @include breakpoint(max-width $break-xl) {
            margin-left: -8px;
            margin-right: -8px;
        }
    }

    &__navbar-item {
        display: inline-block;
    }

    &__navbar-link {
        color: #fff;
        font-size: 12px;
        line-height: 16px;
        font-family: "Raleway", Arial, Helvetica, sans-serif;
        font-weight: 500;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        padding: 20px 28px;

        @include breakpoint(max-width 1280px) {
            padding-left: 14px;
            padding-right: 14px;
        }

        @include breakpoint(max-width $break-xl) {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}