.menu-top {
	@include breakpoint(max-width $break-md) {
		display: none;
	}

	&__wrap {
		background: linear-gradient(108.03deg, #F2FBFF 11.41%, #EFE9FF 94.06%);
	}

	&__container {
		position: relative;
	}

	&__border {
		background: linear-gradient(108.03deg, #F2FBFF 11.41%, #EFE9FF 94.06%);;
		height: 1px;
		margin-top: 9px;
		margin-bottom: 20px;
	}

	&__navbar {
		height: 53px;
		display: flex;
		align-items: center;
	}

	&__navbar-item_profile {
		margin-left: auto;
	}

	&__navbar-back {
		position: relative;
		padding-left: 30px;
		font-size: 14px;
		line-height: 18px;
		color: #505F98;
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-weight: 500;
		text-decoration: none;
		margin-left: -30px;

		b {
			font-weight: 900;
		}
	}

	&__navbar-back-icon {
		width: 18px;
		height: 16px;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -8px;
		font-size: 17px;
		line-height: 17px;
		display: block;
	}
}

.menu-profile {
	position: relative;
	&__label {
		font-size: 14px;
		line-height: 18px;
		color: #505F98;
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-weight: 900;
		position: relative;
		padding: 9px 24px 9px 0;
		cursor: pointer;
	}

	&__label-icon {
		width: 14px;
		height: 14px;
		font-size: 14px;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -7px;

		.svg-icon {
			vertical-align: top;
		}
	}

	&__dropdown {
		width: 220px;
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0px 1.40741px 17.5926px rgba(80, 95, 152, 0.1);
		margin-left: -110px;
		padding-top: 17px;
		padding-bottom: 17px;
		position: absolute;
		top: 100%;
		left: 50%;
		display: none;
	}

	&__dropdown-item {
		padding-left: 31px;
		padding-right: 31px;
	}

	&__dropdown-link {
		font-size: 14px;
		line-height: 18px;
		color: #505F98;
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-weight: 500;
		text-decoration: none;
		display: inline-block;
		vertical-align: top;
		padding-top: 10px;
		padding-bottom: 10px;
	}

}
.header {
	padding-top: 14px;
	padding-bottom: 14px;

	@include breakpoint(max-width $break-md) {
		padding-top: 11px;
	}

	&__container {
		display: flex;
		position: relative;
	}

	&__brand {
		flex-basis: 140px;
		max-width: 140px;
		display: block;
		text-decoration: none;

		@include breakpoint(max-width $break-md) {
			width: 90px;
			height: 36px;
			position: relative;
			left: -5px;
		}
	}

	&__brand-img {
		max-width: 100%;
		max-height: 100%;
		height: auto;
	}

	&__navbar {
		margin-left: auto;
		padding-top: 17px;
	}
}
