.info {
    padding-top: 24px;
    padding-bottom: 24px;

    &__title {
        color: #505F98;
        font-feature-settings: 'pnum' on, 'lnum' on;
        font-weight: 500;
        margin-bottom: 30px;
        @include fz("h3");
    }

    &__content {
        color: #505F98;
        font-feature-settings: 'pnum' on, 'lnum' on;
        font-size: 14px;
        line-height: 18px;

        p {
            margin-top: 0;
            margin-bottom: 0;

            &+ p {
                margin-top: 10px;
            }
        }

        b {
            font-weight: 900;
        }
    }
}