.note-wrap {
	white-space: nowrap;
	position: relative;

	.note {
		position: absolute;
		left: 100%;
	}
}

.note-wrap_def-sm {
	@include breakpoint(max-width $break-sm) {
		white-space: normal;
	}

	.note {
		@include breakpoint(max-width $break-sm) {
			position: static;
		}
	}
}
.note {
	display: inline-block;
	vertical-align: top;
	margin-left: 2px;
	margin-top: 3px;
	font-size: 0;
	color: #fff;
	font-family: "Raleway", Arial, Helvetica, sans-serif;

	&_centered {
		vertical-align: middle;
	}

	&__item {
		display: inline-block;
		vertical-align: middle;
		width: 12px;
		height: 12px;
		margin: 0 1px;
		border-radius: 50%;
		background-color: #2F2E6B;
		font-size: 7px;
		line-height: 11px;
		font-weight: 600;
		text-align: center;
	}
	&_titeled {
		margin-top: 13px;

		@include breakpoint(max-width $break-xl) {
			margin-top: 3px;
		}
	}
}

.footenote {
	margin-bottom: 18px;

	&_offset-left {
		padding-left: 40px;

		@include breakpoint(max-width $break-sm) {
			padding-left: 0;
		}
	}

	&__item {
		padding-left: 23px;
		position: relative;
		@include fz('norm');

		&:before {
			content: attr(data-count);
			display: inline-block;
			vertical-align: middle;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: #E4691F;
			color: #fff;
			font-size: 10px;
			line-height: 16px;
			font-weight: normal;
			text-align: center;
			position: absolute;
			left: 0;
		}
	}

	&__item + &__item {
		margin-top: 10px;
	}
}