.product-head {
	padding-top: 35px;

	@include breakpoint(max-width $break-md) {
		padding-top: 3px;
		margin-bottom: 30px;
	}

	&__container {
		display: flex;
		flex-direction: row-reverse;

		@include breakpoint(max-width $break-lg) {
			display: block;
			overflow: hidden;
		}
	}

	&__media {
		flex-basis: calc(100% - 540px);
		max-width: calc(100% - 540px);

		@include breakpoint(max-width $break-xl) {
			flex-basis: 50%;
			max-width: 50%;
		}

		@include breakpoint(max-width $break-lg) {
			flex-basis: 100%;
			max-width: none;
		}
	}

	&__img {
		position: relative;
		left: -75px;
		top: -87px;

		@include breakpoint(max-width $break-lg) {
			width: 600px;
			left: calc(50% - 234px);
			top: -60px;
		}

		@include breakpoint(max-width $break-md) {
			width: 460px;
			left: calc(50% - 176px);
			top: -46px;
		}
	}

	&__content {
		flex-basis: 540px;
		max-width: 540px;
		margin-left: auto;

		@include breakpoint(max-width $break-xl) {
			flex-basis: 50%;
			max-width: 50%;
		}

		@include breakpoint(max-width $break-lg) {
			flex-basis: 60%;
			max-width: 60%;
			text-align: center;
			position: relative;
			z-index: 1;
			margin-left: auto;
			margin-right: auto;
		}

		@include breakpoint(max-width $break-md) {
			flex-basis: 100%;
			max-width: none;
			margin-bottom: 38px;
		}
	}

	&__title {
		font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
		color: #091133;
		margin-bottom: 17px;
		@include fz('h1');
	}

	&__leadtext {
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-weight: 500;
		color: #505F98;
		font-feature-settings: 'pnum' on, 'lnum' on;
		@include fz('h3');
	}
}
.product-about {
	background: url("../img/bg-product-1.jpg") no-repeat 50% 0;
	background-size: 100% auto;
	position: relative;
	padding-top: 98px;
	padding-bottom: 106px;
	margin-top: -120px;
	margin-bottom: 90px;
	
	@include breakpoint(max-width $break-md) {
		padding-bottom: 56px;
		margin-bottom: 39px;
		background: url("../img/bg-product-1-mob.jpg") no-repeat 50% 0;
		background-size: 100% 100%;
		background-position: center;
	}
	@include breakpoint(max-width $break-sm) {
		padding-top: 50px;
	}

	&:before {
		content: "";
		background: url("../img/bg-leaf-1.png") no-repeat 0 0;
		width: 194px;
		height: 436px;
		position: absolute;
		right: 0;
		top: -101px;
		
		@include breakpoint(max-width $break-md) {
			display: none;
		}
	}

	&:after {
		content: "";
		background: url("../img/bg-leaf-2.png") no-repeat 0 0;
		width: 160px;
		height: 367px;
		position: absolute;
		left: 0;
		bottom: -170px;
		
		@include breakpoint(max-width $break-md) {
			display: none;
		}
	}

	.container {
		position: relative;
		z-index: 1;
	}

	&__header {
		text-align: center;
		margin-bottom: 72px;

		@include breakpoint(max-width $break-md) {
			margin-bottom: 35px;
		}
	}

	&__title {
		font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
		color: #091133;
		margin-bottom: 31px;
		@include fz('h2');

		@include breakpoint(max-width $break-md) {
			margin-bottom: 20px;
		}
	}

	&__leadtext {
		max-width: 820px;
		color: #091133;
		font-weight: 500;
		font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on, 'ss01' on, 'ss02' on;
		margin-left: auto;
		margin-right: auto;
	}

	&__text {
		max-width: 450px;
		color: #505F98;
		font-weight: 500;
		font-feature-settings: 'pnum' on, 'lnum' on;
		padding-top: 40px;
		padding-right: 20px;
		@include fz('h3');

		@include breakpoint(max-width $break-md) {
			text-align: center;
			padding-right: 0;
			margin-left: auto;
			margin-right: auto;
			padding-top: 0;
			margin-bottom: 48px;
		}
	}

	&__content {
		display: flex;
	}
}

.product-table {
	max-width: 508px;

	@include breakpoint(max-width $break-sm) {
		padding: 0 15px;
	}

	&__wrap {
		position: relative;
		z-index: 1;
	}

	&__head {
		color: #505F98;
		font-weight: 500;
		font-feature-settings: 'pnum' on, 'lnum' on;
		@include fz('h3');
		padding-right: 10px;
		padding-bottom: 29px;
	}
	&__title {
		@include fz('h3');
		font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on, 'ss01' on, 'ss02' on;
		font-weight: 500;
		color: #505F98;
	}

	&__content {
		background-image: radial-gradient(rgba(47, 46, 107, 0.3) 20%, transparent 20%), radial-gradient(rgba(47, 46, 107, 0.3) 20%, transparent 20%), radial-gradient(rgba(47, 46, 107, 0.3) 20%, transparent 20%), radial-gradient(rgba(47, 46, 107, 0.3) 20%, transparent 20%);
		background-repeat: repeat-y;
		background-position: calc(20% - 4px) -2px, calc(40% - 5px) -2px, calc(60% - 5px) -2px, calc(80% - 6px) -2px;
		background-size: 6px 8px;
		padding-top: 22px;
		padding-bottom: 27px;

		@include breakpoint(max-width $break-sm) {
			padding: 0;
			margin-bottom: 21px;
		}
	}

	&__row {
		display: flex;
		margin-bottom: 10px;
		padding: 4px 11px 4px 14px;
		color: #fff;
		position: relative;

		@include breakpoint(max-width $break-sm) {
			padding: 3px 8px 1px 8px;
			margin-bottom: 8px;
		}

		&:after {
			content: "";
			background-repeat: no-repeat;
			background-position: 0 0;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			pointer-events: none;
		}
	}

	&__row_percent-70 {
		background-color: #8878DC;
		width: 69%;

		&:after {
			background-image: url("../img/bg-table-percent.png");
			background-position: 0 0;
		}
	}

	&__row_percent-92 {
		background-color: #905ADF;
		width: 91%;

		&:after {
			background-image: url("../img/bg-table-percent.png");
			background-position: 0 -60px;
		}
	}

	&__row_percent-80 {
		background-color: #B187FF;
		width: 79%;

		&:after {
			background-image: url("../img/bg-table-percent.png");
			background-position: 0 -120px;
		}
	}

	&__row_percent-63 {
		background-color: #A99AF8;
		width: 62%;

		&:after {
			background-image: url("../img/bg-table-percent.png");
			background-position: 0 -180px;
		}
	}

	&__row_percent-89 {
		background-color: #84ADF5;
		width: 88%;

		&:after {
			background-image: url("../img/bg-table-percent.png");
			background-position: 0 -240px;
		}
	}

	&__row_percent-90 {
		background-color: #8878DC;
		width: 88%;

		&:after {
			background-image: url("../img/bg-table-percent2.png");
			background-position: -18px -31px;
		}
	}

	&__row_percent-9 {
		background-color: #905ADF;
		width: 55%;

		&:after {
			background-image: url("../img/bg-table-percent2.png");
			background-position: -18px -121px;
		}
	}

	&__row_bg-inner {
		background: none;
		color: #505F98;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			pointer-events: none;
		}
	}

	&__row_bg-inner.product-table__row_percent-9 {
		&:before {
			background-color: #905ADF;
			width: 16%;
		}
	}

	&__text,
	&__count {
		display: flex;
		align-items: center;
	}

	&__text {
		font-weight: 500;
		font-feature-settings: "pnum" on,"lnum" on;
		@include fz('h4');
	}

	&__count {
		font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
		font-weight: 700;
		font-size: 30px;
		margin-left: auto;
		text-align: right;

		@include breakpoint(max-width $break-md) {
			font-size: 18px;
		}
	}

	&__footer {
		// border-top: 2px dashed #2F2E6B;
		width: 100%;
		display: flex;
		background-image: radial-gradient(#2F2E6B 20%, transparent 20%);
		background-repeat: repeat-x;
		background-position: -4px -2px;
		background-size: 6px 8px;
	}

	&__footer-item {
		width: 70px;
		color: rgba(80, 95, 152, 0.5);
		position: relative;
		margin-top: 18px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		font-weight: 500;
		@include fz('small');
		text-align: center;
		margin-left: calc(20% - 28px);

		@include breakpoint(max-width $break-sm) {
			margin-top: 10px;
			font-size: 12px;
		}

		&:first-child {
			margin-left: -15px;
		}

		&:last-child {
			margin-left: calc(20% - 30px);

			@include breakpoint(max-width $break-sm) {
				margin-left: calc(20% - 30px);
			}

			&:before {
				left: 14px;

				@include breakpoint(max-width $break-sm) {
					left: 18px;
				}
			}
		}

		&:before {
			content: "";
			width: 14px;
			height: 14px;
			background: #2f2e6b;
			border-radius: 50%;
			position: absolute;
			top: -24px;
			left: 7px;

			@include breakpoint(max-width $break-sm) {
				width: 9px;
				height: 9px;
				top: -13px;
				left: 10px;
			}
		}
	}

	&__legend {
		text-align: center;
		font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on, 'ss01' on, 'ss02' on;
		font-weight: 500;
		color: #505F98;
		padding-top: 17px;
		padding-right: 10px;
	}
}

.product-table_text-small {
	@include breakpoint(max-width $break-sm) {
		margin: 0 -20px;
	}

	.product-table {
		&__head {
			@include breakpoint(max-width $break-sm) {
				padding-right: 0;
				padding-bottom: 20px;
			}
		}
		&__content {
			padding-top: 33px;
			padding-bottom: 37px;

			@include breakpoint(max-width $break-sm) {
				padding: 33px 18px 1px 18px;
			}
		}

		&__row {
			height: 80px;
			padding: 15px 22px 11px 19px;

			@include breakpoint(max-width $break-sm) {
				height: 48px;
				padding: 7px 8px 5px 8px;
				margin-bottom: 8px;
			}
		}

		&__row_percent-9 {
			padding-left: 12%;
		}
		&__footer {
			@include breakpoint(max-width $break-sm) {
				max-width: 87%;
				margin: 0 auto;
			}
		}
	}
}

.product-character {
	&__header {
		text-align: center;
		margin-bottom: 58px;

		@include breakpoint(max-width $break-md) {
			margin-bottom: 0;
		}
	}

	&__title {
		font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
		color: #091133;
		margin-bottom: 31px;
		@include fz('h2');

		@include breakpoint(max-width $break-md) {
			margin-bottom: 24px;
		}
	}

	&__leadtext {
		max-width: 820px;
		color: #091133;
		font-weight: 500;
		font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on, 'ss01' on, 'ss02' on;
		margin-left: auto;
		margin-right: auto;
	}

	&__item {
		display: inline-block;
		vertical-align: top;
		position: relative;
	}

	&__item_1 {
		width: 50%;
		padding-top: 78px;
		padding-left: 90px;
		margin-top: 46px;
		padding-bottom: 10px;
		float: left;

		@include breakpoint(max-width $break-lg) {
			width: 45%;
			padding-left: 70px;
			padding-top: 58px;
		}

		@include breakpoint(max-width $break-md) {
			width: 60%;
			float: none;
			padding-bottom: 80px;
		}
		@include breakpoint(max-width $break-sm) {
			width: 100%;
			padding-left: 0;
		}

		&:before {
			width: 370px;
			height: 336px;
			content: "";
			background-image: url("../img/bg-cloud-1.png");
			background-repeat: no-repeat;
			background-position:  11px 0;
			background-size: contain;
			position: absolute;
			left: 0;
			top: 0;

			@include breakpoint(max-width $break-lg) {
				background-position:  0 0;
				width: 300px;
				height: 272px;
			}
		}
	}

	&__item_2 {
		width: 50%;
		max-width: 380px;
		padding-top: 74px;
		padding-left: 74px;
		padding-bottom: 42px;
		margin-left: calc(9% + 8px);

		@include breakpoint(max-width $break-xl) {
			margin-left: calc(5% + 8px);
		}

		@include breakpoint(max-width $break-lg) {
			width: 45%;
			max-width: 300px;
			margin-left: calc(8% + 8px);
			padding-top: 54px;
			padding-left: 54px;

			@include breakpoint(max-width $break-md) {
				width: 65%;
				max-width: none;
				margin-left: 30%;
				margin-top: -30px;
			}
		}
		@include breakpoint(max-width $break-sm) {
			width: 76.2%;
			margin-left: 23.8%;
			padding-left: 0;
		}

		&:before {
			width: 260px;
			height: 214px;
			content: "";
			background: url("../img/bg-cloud-2.png") no-repeat 0 0;
			background-size: contain;
			position: absolute;
			left: 0;
			top: 0;

			@include breakpoint(max-width $break-lg) {
				width: 206px;
				height: 170px;
			}

			@include breakpoint(max-width $break-md) {
				left: auto;
				right: -54px;
			}
		}
	}

	&__item_3 {
		width: 50%;
		max-width: 420px;
		margin-top: 86px;
		margin-left: 14px;
		padding-top: 93px;
		padding-left: 76px;
		padding-bottom: 60px;

		@include breakpoint(max-width $break-lg) {
			width: 45%;
			padding-top: 63px;
			padding-left: 56px;
			padding-bottom: 40px;
			margin-left: 30px;
		}

		@include breakpoint(max-width $break-md) {
			width: 65%;
			margin-top: 0;
		}
		@include breakpoint(max-width $break-sm) {
			width: 76.2%;
			padding-left: 0;
			margin-left: 0;
		}

		&:before {
			width: 252px;
			height: 228px;
			content: "";
			background: url("../img/bg-cloud-3.png") no-repeat 0 0;
			background-size: contain;
			position: absolute;
			left: 0;
			top: 0;

			@include breakpoint(max-width $break-lg) {
				width: 200px;
				height: 182px;
			}
		}
	}

	&__item-text {
		color: #505F98;
		font-weight: 500;
		font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on, 'ss01' on, 'ss02' on;
		position: relative;
		z-index: 1;
	}
}

.product-counter {
	padding-top: 104px;

	@include breakpoint(max-width $break-md) {
		width: 100%;
		overflow: hidden;
	}
	@include breakpoint(max-width $break-sm) {
		padding-top: 0;
	}

	&__content {
		.product-table {
			padding-top: 56px;
			position: relative;

			@include breakpoint(max-width $break-sm) {
				max-width: none;
				padding: 40% 15px;
				// padding-top: 104px;
				// padding-bottom: 100px;
				// background-color: ;
			}
			@include breakpoint(max-width $break-smallest) {
				padding: 100px 15px;
			}

			&:after {
				width: 820px;
				height: 707px;
				content: "";
				background: url("../img/bg-cloud-4.png") no-repeat 0 0;
				position: absolute;
				left: -413px;
				top: -151px;

				@include breakpoint(max-width $break-md) {
					background: url("../img/bg-cloud-4.svg") no-repeat 50% 0;
					background-size: auto 100%;
					width: 1100px;
					height: 630px;
					left: -300px;
					top: -90px;
				}
				@include breakpoint(max-width $break-sm) {
					// display: none;
					background: url("../img/bg-cloud-4-mob.png");
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					right: 0;
					background-position: center;
					background-size: 100% auto;
					background-repeat: no-repeat;
				}
				@include breakpoint(max-width $break-smallest) {
					background-size: auto 100%;
				}
			}
		}
	}

	&__item {
		padding-left: calc(23% + 5px);

		@include breakpoint(max-width $break-md) {
			padding-left: 0;
		}
	}

	&__item-num {
		font-size: 110px;
		line-height: 132px;
		font-family: 'Playfair Display', Arial, Helvetica, sans-serif;

		@include breakpoint(max-width $break-xl) {
			font-size: 90px;
			line-height: 112px;
		}

		@include breakpoint(max-width $break-md) {
			font-size: 70px;
			line-height: 84px;
		}

		span {
			background: linear-gradient(169.14deg, #FFD5F2 -12.07%, #9896FF 102.07%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			color: #9896FF;

			@media all and (-ms-high-contrast: none) {
				background: none;
			}
		}
	}

	&__item-text {
		color: #505F98;
		font-feature-settings: 'pnum' on, 'lnum' on;
		font-weight: 500;
		padding-left: 50px;
		padding-top: 19px;
		@include fz('h3');
		margin-bottom: 48px;

		@include breakpoint(max-width $break-sm) {
			padding-top: 22px;
			margin-bottom: 38px;
		}
	}
}

.product-result {
	background: url("../img/bg-product-2.jpg") no-repeat 50% 150px;
	background-size: 100% auto;
	padding-top: 29px;
	padding-bottom: 76px;

	@include breakpoint(max-width $break-sm) {
		padding-top: 0;
		background: url("../img/bg-product-2-mob.jpg") no-repeat 50% 20px;
		background-size: cover;
		background-position: center;
	}

	&__content {

	}

	&__header {
		max-width: 450px;
		margin-top: 223px;
		margin-bottom: 56px;

		@include breakpoint(max-width $break-md) {
			text-align: center;
			margin: 180px auto 30px;
		}
		@include breakpoint(max-width $break-sm) {
			margin-top: 70px;
			margin-bottom: 57px;
		}
	}

	&__title {
		font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
		color: #091133;
		margin-bottom: 28px;
		@include fz('h2');

		@include breakpoint(max-width $break-sm) {
			margin-bottom: 22px;
		}
	}

	&__leadtext {
		color: #505F98;
		font-feature-settings: 'pnum' on, 'lnum' on;
		@include fz('small');
	}

	&__media {
		position: relative;
		left: -40px;

		@include breakpoint(max-width $break-md) {
			margin: 30px auto 0;
			left: 0;
		}
		@include breakpoint(max-width $break-sm) {
			margin: -22px auto 0;
		}
	}

	&__media_desktop {
		@include breakpoint(max-width $break-md) {
			display: none;
		}
	}

	&__media_mobile {
		display: none;

		@include breakpoint(max-width $break-md) {
			display: block;
		}
	}

	&__img {
		max-width: 100%;
		height: auto;
		display: inline-block;
		vertical-align: top;
	}

	&__list {

	}

	&__list-item {
		position: relative;
		right: -50px;
		padding-top: 60px;

		@include breakpoint(max-width 1280px) {
			right: -10px;
		}

		@include breakpoint(max-width $break-xl) {
			right: 0;
			padding-top: 40px;
		}
		@include breakpoint(max-width $break-sm) {
			padding-top: 0;
		}
	}

	&__panel {
		box-shadow: 0px 4px 50px rgba(80, 95, 152, 0.1);
		border-radius: 10px;
		background-color: #fff;
		padding: 34px 50px 29px 40px;
		position: relative;

		@include breakpoint(max-width $break-xl) {
			padding: 24px 28px 28px 28px;
			margin-bottom: 59px;
		}

		&:before {
			background: url("../img/ico-check.svg") no-repeat 0 0;
			background-size: 160px 160px;
			width: 160px;
			height: 160px;
			content: "";
			position: absolute;
			left: -80px;
			top: -76px;
			pointer-events: none;

			@include breakpoint(max-width $break-xl) {
				background-size: 120px 120px;
				width: 120px;
				height: 120px;
				left: -60px;
				top: -56px;
			}

			@include breakpoint(max-width $break-md) {
				left: 50%;
				margin-left: -60px;
			}
		}
	}

	&__panel-text {
		font-weight: 500;
		font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on, 'ss01' on, 'ss02' on;
		color: #505F98;
		line-height: 26px;

		@include breakpoint(max-width $break-sm) {
			line-height: 18px;
		}

		p {
			margin-top: 0;
			margin-bottom: 0;

			&+ p {
				margin-top: 10px;
			}

			.note {
				margin-top: -3px;
			}
		}
	}
}

.product-use {
	padding-top: 94px;
	padding-bottom: 102px;

	@include breakpoint(max-width $break-sm) {
		padding-top: 51px;
	}

	&__title {
		font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
		color: #091133;
		margin-bottom: 28px;
		@include fz('h2');

		@include breakpoint(max-width $break-md) {
			text-align: center;
		}
		@include breakpoint(max-width $break-sm) {
			margin-bottom: 2px;
		}
	}
	&__wrapper {
		@include breakpoint(max-width $break-sm) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
		}
	}
	&__item {
		display: flex;
		flex-wrap: wrap;
		padding-top: 22px;

		@include breakpoint(max-width $break-sm) {
			padding-top: 0;
		}
	}

	&__item-content {
		flex-basis: 50%;
		max-width: 50%;

		@include breakpoint(max-width $break-md) {
			flex-basis: 100%;
			max-width: none;
		}
		@include breakpoint(max-width $break-sm) {
			max-width: 100%;
		}
	}

	&__carousel {
		max-width: 480px;

		@include breakpoint(max-width $break-md) {
			margin-left: auto;
			margin-right: auto;
		}

		&.slick-dotted.slick-slider {
			margin-bottom: 150px;

			@include breakpoint(max-width $break-md) {
				margin-bottom: 70px;
			}
		}
	}

	&__item-media {
		flex-basis: 50%;
		max-width: 50%;
		position: relative;

		@include breakpoint(max-width $break-md) {
			flex-basis: 100%;
			max-width: none;
		}
	}

	&__item-img {
		position: absolute;
		left: 0;
		top: 0;

		@include breakpoint(max-width 1280px) {
			max-width: 100%;
		}
	}

	&__item-img-decor {
		max-width: 100%;
		height: auto;
		display: inline-block;
		vertical-align: top;
	}

	&__item-text {
		color: #505F98;
		font-weight: 500;
		font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on, 'ss01' on, 'ss02' on;
		line-height: 26px;
		padding-top: 17px;

		@include breakpoint(max-width $break-sm) {
			margin-bottom: 40px;
			padding-top: 20px;
			line-height: 18px;
		}

		p {
			margin-top: 0;
			margin-bottom: 0;

			&+ p {
				margin-top: 10px;
			}

			.note {
				margin-top: -3px;
			}
		}
	}

	&__list {
		list-style: none;
		padding: 17px 0;
		margin: 0;
		@include breakpoint(max-width $break-sm) {
			padding: 0;
		}
	}

	&__list-item {
		color: #505F98;
		font-weight: 500;
		font-feature-settings: 'pnum' on, 'lnum' on, 'salt' on, 'ss01' on, 'ss02' on;
		line-height: 26px;
		position: relative;
		padding-left: 33px;
		margin-top: 12px;
		margin-bottom: 12px;

		@include breakpoint(max-width $break-sm) {
			margin-top: 0;
			margin-bottom: 2px;
			padding-left: 13px;
		}

		.note {
			margin-top: -3px;
		}

		&:before {
			width: 8px;
			height: 8px;
			background-color: #E986E9;
			border-radius: 15px;
			content: "";
			position: absolute;
			left: 0;
			top: 10px;
		}
	}
	.slick-track {
		@include breakpoint(max-width $break-md) {
			display: flex;
		}
	}
	.slick-slide {
		outline: none;

		@include breakpoint(max-width $break-md) {
			display: flex;
			height: auto;
			align-items: center;
			justify-content: center;
		}
	}
	&__dots.slick-dots {
		text-align: left;
		bottom: -54px;

		@include breakpoint(max-width $break-md) {
			text-align: center;
		}

		li {
			width: 30px;
			height: 4px;

			button {
				width: 30px;
				height: 4px;
				padding: 0;

				&:before {
					background: #DCDFEB;
					width: 30px;
					height: 4px;
					border-radius: 10px;
					content: "";
					font-size: 0;
				}

				&:hover:before {
					background: #2F2E6B;
				}
			}

			&.slick-active {
				button:before {
					background: #2F2E6B;
					opacity: 1;
				}
			}
		}
	}

	.slick-arrow {
		border-radius: 50%;
		width: 60px;
		height: 60px;
		border: 1px solid #505F98;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		bottom: -150px;
		cursor: pointer;

		@include breakpoint(max-width $break-md) {
			opacity: 0;
			visibility: hidden;
		}

		&:before {
			content: "";
			background: url("../img/arrow-next.svg") no-repeat 0 0;
			width: 23px;
			height: 16px;
		}
	}

	.slick-arrow.slick-arrow--prev:before {
		transform: rotate(-180deg);
	}

	.slick-arrow--prev {
		left: 3px;
	}

	.slick-arrow--next {
		left: 90px;
	}
}