.section {
	display: block;
	margin: 0;

	&_faq {
		position: relative;
		overflow: hidden;
		margin-bottom: -36px;

		&:before{
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: -150%;
			width: 400%;
			height: calc(100% + 200px);
			background: linear-gradient(104.3deg, #F2FBFF 19.7%, #EFE9FF 85.78%);
			border-top-left-radius: 50%;
			border-top-right-radius: 50%;
		}
	}
	&_number {
		position: relative;
		padding: 30px 0;
		color: $blue1;
		font-size: 14px;
		margin-bottom: -38px;
	}
}