.border {
	border-bottom: 1px solid $gray7;
	margin-bottom: 4px;
}

// margin-bottom
.mb-5 {
	margin-bottom: 5px;
}
.mb-7 {
	margin-bottom: 7px;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-13 {
	margin-bottom: 13px;
}
.mb-14 {
	margin-bottom: 14px;
}
.mb-15 {
	margin-bottom: 15px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-24 {
	margin-bottom: 24px;
}
.mb-25 {
	margin-bottom: 25px;
}
.mb-28 {
	margin-bottom: 28px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-33 {
	margin-bottom: 33px;
}
.mb-34 {
	margin-bottom: 34px;
}
.mb-35 {
	margin-bottom: 35px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-50 {
	margin-bottom: 50px;
}

// margin-right
.mr-5 {
	margin-right: 5px;
}
.mr-50 {
	margin-right: 50px;
}

// margin-left
.ml-15 {
	margin-left: 15px;
}
.ml-30 {
	margin-left: 30px;
}
.ml-40 {
	margin-left: 40px;
}

// margin-top
.mt-40 {
	margin-top: 40px;
}

.mlr-10 {
	margin: 0 10px;
}

.no-fz {
	font-size: 0;
}

.underline {
	text-decoration: underline;
}

.overflow {
	overflow: hidden;
}