@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint.scss";
// breakpoint mixin
@mixin breakpointFont($mq01) {
	@media ($mq01) {
		@content;
	}
}
@mixin font-size-map($font-size-map) {
	@each $breakpoint, $font-size in $font-size-map {
		@if $breakpoint == null {
			font-size: $font-size;
		} @else {
			@include breakpointFont($breakpoint) {
				font-size: $font-size;
			}
		}
	}
}

// colors
$white: #fff;
$black: #000000;
$gray: #999999;
$gray2: #666666;
$gray3: #E6E6E6;
$gray4: #F2F2F2;
$gray5: #F7F7F7;
$gray6: #EFEFEF;
$gray7: #E5E5E5;
$gray8: #9CA4C4;
$orange: #E4691F;
$blue: #18BECB;
$blue1: #505f98;
$blue2: #091133;
$blue3: #2F2E6B;
$blue4: #7ACBF6;
$pink: #E986E9;

$bg-gradient1: #F2FBFF;
$bg-gradient2: #EFE9FF;

$break-xs: 0;
$break-smallest: 360px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1120px;
$break-xxl: 1200px;

// use breakpoint
// @include breakpoint(max-width $break-lg) -- max-width
// @include breakpoint(min-width $break-md) -- min-width