.tooltip {
	position: relative;

	&__item {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 488px;
		padding: 26px 30px 29px;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
		border-radius: 15px;
		background-color: $white;
		z-index: 1;

		&.is-active {
			display: block;
		}
	}
	&__icon {
		max-width: 94px;
	}
	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 24px;
		height: 24px;
		background-color: $gray4;
		border-radius: 50%;
		cursor: pointer;
		transition: color .5s;

		&:hover {
			background-color: $gray3;
		}
		&::after,
		&::before {
			content: '';
			position: absolute;
			width: 11px;
			height: 1px;
			background-color: $gray2;
			top: 50%;
			left: 50%;
		}
		&::after {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::before {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}