.answer {
	position: relative;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0px 4px 50px rgba(80, 95, 152, 0.1);
	background-color: #fff;
	padding: 7px;
	text-align: left;

	&.lighted {
		.answer__inner::after {
			opacity: 0;
			transition: opacity .25s ease-in;
		}
		.answer__label {
			background-color: $pink;
			transition: background-color .25s ease-in;
		}
	}
	&__label {
		position: absolute;
		top: 20px;
		left: 0;
		width: 60px;
		height: 60px;
		font-size: 30px;
		line-height: 60px;
		color: $white;
		border-radius: 50%;
		transform: translateX(-50%);
		background-color: $blue4;
		box-shadow: 0px 4px 50px rgba(80, 95, 152, 0.1);
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		z-index: 2;
	}
	&__text {
		display: flex;
		align-items: center;
		min-height: 86px;
		padding-left: 4px;
		@include fz('norm');
		color: $blue1;
	}
	&__inner {
		position: relative;
		padding-left: 51px;
		background: $white;
		border-radius: 10px;
		background: linear-gradient(106.38deg, #F2FBFF 13.82%, #EFE9FF 90.39%);

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $white;
			z-index: 1;
		}
	}
	&__help {
		padding-top: 10px;
		display: none;
		padding-bottom: 26px;
		@include fz('small');
		color: $blue2;
	}
	&__content {
		position: relative;
		z-index: 2;
	}
}

.answer.active {
	.answer__help {
		display: block;
	}
}