.questions {
	padding-top: 47px;
	padding-bottom: 9px;
	text-align: center;

	&__answers {
		margin: 0 auto;
		width: 100%;
		max-width: 626px;
		padding-left: 16px;
		margin-bottom: 71px;

		@include breakpoint(max-width $break-sm) {
			margin-bottom: 30px;
		}
	}
	&__counter {
		margin-bottom: 12px;
		color: #9896FF;
		@include fz('h3'); 
	}
	&__title {
		max-width: 856px;
		margin: 0 auto;
		margin-bottom: 47px;
		@include fz('h2');
	}
	&__item {
		display: none;

		&.active {
			display: block;
		}
		&:not(.choosen) {
			.answer {
				cursor: pointer;
			}
			.answer:hover {
				.answer__inner::after {
					opacity: 0;
					transition: opacity .25s ease-in;
				}
			}
		}
	}
	&__btn {
		visibility: hidden;
		opacity: 0;

		&.active {
			visibility: visible;
			opacity: 1;
			transition: opacity .25s ease-in;
		}
	}
}