.canceling-table-group {
	&__list {
		display: flex;

		@include breakpoint(max-width $break-md) {
			flex-wrap: wrap;
		}
	}

	&__list-item {
		flex-basis: 50%;
		max-width: 50%;

		@include breakpoint(max-width $break-md) {
			flex-basis: 100%;
			max-width: none;
		}
	}

	&__list-item + &__list-item {
		@include breakpoint(max-width $break-md) {
			margin-top: 21px;
		}
	}
}

.canceling-table {
	&__header {
		padding-bottom: 20px;

		@include breakpoint(max-width $break-md) {
			padding-bottom: 6px;
		}
	}

	&__img-wrap {
		position: relative;
		max-width: 200px;

		@include breakpoint($break-md $break-xl) {
			max-width: 140px;
		}
	}

	&__img {
		max-width: 100%;
		max-height: 100%;
		position: relative;
		left: -7px;
	}

	&__logo {
		width: 94px;
		height: 34px;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: cover;
		margin-left: -7px;
		position: absolute;
		left: 100%;
		top: 9px;
	}

	&__content {

	}

	&__content-row {
		display: flex;
	}

	&__content-col {
		display: flex;
		flex-direction: column;
	}

	&__content-col_1 {
		width: 156px;

		@include breakpoint(max-width $break-xl) {
			width: 136px;
		}
	}

	&__content-col_2 {
		width: 190px;

		@include breakpoint(max-width $break-xl) {
			width: 150px;
		}

		@include breakpoint(max-width $break-md) {
			width: 136px;
		}
	}

	&__content-col_last {
		flex-grow: 1;
	}

	&__value {
		font-family: 'Roboto Slab', serif;
		font-size: 26px;
		line-height: 34px;
		color: #000;
		font-weight: bold;
	}

	&__title {
		font-size: 18px;
		text-transform: uppercase;
		color: #999;
		padding-top: 11px;
		margin-top: auto;
		display: flex;
		align-items: flex-end;

		@include breakpoint($break-md $break-xl) {
			min-height: 51px;
		}
	}

	&__title_color {
		.canceling-table_orange & {
			color: #E4691F;
		}

		.canceling-table_green & {
			color: #18BECB;
		}
	}

	&__leadtext {
		@include fz('norm');
		color: #000;
		margin-top: 6px;
	}

	&__footer {
		padding-top: 21px;

		@include breakpoint(max-width $break-md) {
			padding-top: 18px;
		}
	}
}