.section._faq{
	// margin-bottom: -36px;
}
.faq-head{
	&__inner{
		padding-bottom: 6.11%;
	}
	&__container{
		display: flex;
		flex: 1 1 100%;
		flex-wrap: nowrap;
		position: relative;
		margin-bottom: 60px;
		align-content: center;
		align-items: center;
		@include breakpoint(max-width $break-md) {
			flex-wrap: wrap;
		}
	}
	&__content{
		flex-basis: calc(100% - 61.66% - 1px);
		max-width: calc(100% - 61.66% - 1px);
		position: relative;
		padding-right: 15%;
		@include breakpoint(max-width $break-xxl) {
			padding-right: 10%;
		}
		@include breakpoint(max-width $break-md) {
			flex-basis: 100%;
			max-width: 100%;
			padding-right: 0;
			text-align: center;
			margin-bottom: 30px;
		}
	}
	&__title{
		@include fz('h1');
	}
	&__leadtext{
		font-size: 18px;
		line-height: 1.45;
	}
	&__media{
		height: 395px;
		flex-basis: 61.66%;
		max-width: 61.66%;
		position: relative;
		@include breakpoint(max-width $break-lg) {
			height: 285px;
		}
		@include breakpoint(max-width $break-md) {
			height: 255px;
			flex-basis: 100%;
			max-width: 100%;
		}
	}
	&__img{
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain;
		//padding-bottom: 59%;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		max-height: 100%;
		@include breakpoint(max-width $break-sm) {
			display: none;
		}
	}
	&__img._mob{
		display: none;
		@include breakpoint(max-width $break-sm) {
			display: block;
		}
	}
}

.faq-items{
	position: relative;
	overflow: hidden;
	
	&__inner{
		padding-top: 106px;
		padding-bottom: 75px;
		position: relative;
		z-index: 1;
	}
}
.faq-items-list{
	//&._load-slider{
	//	max-height: 500px;
	//	min-height: 500px;
	//	height: 500px;
	//	overflow: hidden;
	//}
	&__items{
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		justify-content: center;
		.slick-list{
			//padding-left: 5px;
			padding-right: 5px;
			padding-left: calc((100% - 1080px)/2);
			@include breakpoint(max-width $break-xxl) {
				padding-left: calc((100% - 940px)/2);
			}
			@include breakpoint(max-width $break-xl) {
				padding-left: calc((100% - 940px)/2);
			}
			@include breakpoint(max-width $break-lg) {
				padding-left: calc((100% - 680px)/2);
			}
			@include breakpoint(max-width $break-md) {
				padding-left: calc((100% - 500px)/2);
			}
			@include breakpoint(max-width $break-sm) {
				padding-left: calc((100% - 100% + 80px)/2);
			}
		}
		.slick-arrow {
			position: relative;
			display: block;
			flex-basis: 60px;
			height: 60px;
			max-width: 60px;
			min-width: 60px;
			border-radius: 50%;
			border: 1px solid $blue1;
			background-color: $white;
			background-position: center;
			background-size: 22px auto;
			background-repeat: no-repeat;
			background-image: url('../img/arrow-next.svg');
			font-size: 0;
			transition: opacity 0.2s;
			cursor: pointer;
			margin-top: 30px;
			&:focus, &:active{
				user-select: none;
				outline: none;
			}
		}
		.slick-arrow.slick-prev{
			transform: rotate(180deg);
			margin-right: 40px;
			order: 1;
		}
		.slick-arrow.slick-next{
			order: 2;
		}
		.slick-arrow.slick-disabled{
			opacity: 0.5;
			cursor: default;
		}
	}
	&__items-i{
		width: 340px;
		//max-width: 340px;
		//flex-basis: 340px;
		//min-width: 340px;
		margin-left: 15px;
		margin-bottom: 15px;
		outline: none;
		@include breakpoint(max-width $break-md) {
			width: 250px;
		}
		&:nth-child(2n+1){
			.faq-item .faq-item__bg .faq-item__bg-plate{
				transform: rotate(-1deg);
				.faq-item__bg-stick.stick-1{
					background-image: url("../img/faq-card/img-4.svg");
					display: block;
					width: 60px;
					height: 83px;
					left: -8px;
					top: 8px;
					z-index: 1;
					@include breakpoint(max-width $break-md) {
						width: 26px;
						left: -1px;
						top: 0;
					}
				}
				.faq-item__bg-stick.stick-2{
					background-image: url("../img/faq-card/img-5.svg");
					display: block;
					width: 68px;
					height: 164px;
					left: -1px;
					top: 40px;
					z-index: 2;
					@include breakpoint(max-width $break-md) {
						width: 35px;
						height: 128px;
						top: 14px;
					}
				}
				.faq-item__bg-stick.stick-3{
					background-image: url("../img/faq-card/img-10.svg");
					display: block;
					width: 171px;
					height: 156px;
					left: -1px;
					top: auto;
					bottom: 0;
					z-index: 2;
					@include breakpoint(max-width $break-md) {
						width: 134px;
						height: 122px;
					}
				}
				.faq-item__bg-stick.stick-4{
					background-image: url("../img/faq-card/img-8.svg");
					display: block;
					width: 81px;
					height: 73px;
					left: auto;
					right: 0;
					top: auto;
					bottom: 0;
					z-index: 2;
					@include breakpoint(max-width $break-md) {
						width: 65px;
						height: 57px;
					}
				}
				.faq-item__bg-stick.stick-5{
					background-image: url("../img/faq-card/img-9.svg");
					display: block;
					width: 80px;
					height: 123px;
					left: auto;
					right: 0;
					top: auto;
					bottom: 0;
					z-index: 2;
					@include breakpoint(max-width $break-md) {
						width: 63px;
						height: 96px;
					}
				}
			}
		}
		&.slick-current{
			.faq-item .faq-item__bg{
				border-color: transparent;
			}
			.faq-item .faq-item__bg .faq-item__bg-plate{
				transform: rotate(0);
			}
		}
	}
}
.faq-item{
	height: 425px;
	width: 100%;
	position: relative;
	padding: 20px;
	@include breakpoint(max-width $break-lg) {
		height: 350px;
	}
	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		border: 1px dashed $gray8;
		transition: border 0.2s;
		&-plate{
			background-color: $white;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 20px;
			transform: rotate(1deg);
			transition: transform 0.2s, width 0.2s, height 0.2s, top 0.2s, left 0.2s;
			overflow: hidden;
		}
		&-stick {
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 0;
			display: none;
		}
		&-plate{
			.faq-item__bg-stick.stick-1{
				background-image: url("../img/faq-card/img-1.svg");
				display: block;
				width: 114px;
				height: 156px;
				left: auto;
				right: 0;
				top: 15px;
				z-index: 1;
				@include breakpoint(max-width $break-lg) {
					width: 89px;
					height: 122px;
					top: 0;
				}
			}
			.faq-item__bg-stick.stick-2{
				background-image: url("../img/faq-card/img-2.svg");
				display: block;
				width: 65px;
				height: 92px;
				left: 34px;
				top: auto;
				bottom: 12px;
				z-index: 1;
				@include breakpoint(max-width $break-lg) {
					width: 51px;
					height: 72px;
					bottom: 9px;
					left: 26px;
				}
			}
			.faq-item__bg-stick.stick-3{
				background-image: url("../img/faq-card/img-3.svg");
				display: block;
				width: 50px;
				height: 115px;
				left: -1px;
				top: auto;
				bottom: -2px;
				z-index: 2;

				@include breakpoint(max-width $break-lg) {
					width: 40px;
					height: 90px;
				}
			}
		}
	}
	&__info{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex: 1 1 100%;
		align-items: center;
		align-content: center;
		padding: 30px;
		padding-bottom: 90px;
	}
	&__counter{
		position: absolute;
		top: 20px;
		width: 100%;
		left: 0;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
		line-height: 1.3;
		font-size: 20px;
		font-weight: 500;
		color: $blue1;
	}
	&__text{
		text-align: center;
		line-height: 1.3;
		font-size: 20px;
		font-weight: 500;
		color: $blue1;
		padding-top: 60px;
		@include fz('h4');
		@include breakpoint(max-width $break-md) {
			padding-top: 30px;
		}
	}
	&__opener{
		position: absolute;
		bottom: 35px;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		left: 50%;
		margin-left: -23px;
		background-color: $blue2;
		background-image: url("../img/plus.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 20px 20px;
		cursor: pointer;
		transition: background 0.2s;
		@include breakpoint(max-width $break-md) {
			width: 35px;
			height: 35px;
		}
		&:hover{
			background-color: $blue3;
		}
	}
}

.is-modal{
	.faq-items-list__items .slick-arrow{
		opacity: 0 !important;
	}
}

.faq-number {
	position: relative;
	padding: 30px 0;
	color: $blue1;
	font-size: 18px;

	@include breakpoint(max-width $break-md) {
		padding: 20px 0;
		font-size: 16px;
	}
	@include breakpoint(max-width $break-sm) {
		font-size: 14px;
	}
}