.inline-list {
	padding: 0;
	margin: 27px 0 0;
	list-style: none;
	font-size: 0;

	@include breakpoint(max-width $break-md) {
		margin-top: 17px;
	}

	&__item {
		display: inline-block;
		vertical-align: middle;
		margin: 0 35px;
		font-size: 24px;

		@include breakpoint(max-width $break-md) {
			width: 50%;
			margin: 11px 0;
			font-size: 21px;
		}
	}
}