.sideeffect-table {

	&+ .sideeffect-table {
		margin-top: 29px;

		@include breakpoint(max-width $break-md) {
			margin-top: 25px;
		}
	}

	&__header-title {
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 0.05em;

		@include breakpoint(max-width $break-sm) {
			font-size: 14px;
		}
	}

	&__header-col_stat1 &__header-title {

		.sideeffect-table_green & {
			color: #18BECB;
		}

		.sideeffect-table_orange & {
			color: #E4691F;
		}
	}

	&__header-col_stat2 &__header-title {
		color: #999;
	}

	&__header-leadtext {
		@include fz('norm');
		color: #000;
		margin-top: 6px;

		@include breakpoint(max-width $break-sm) {
			margin-top: 3px;
		}
	}

	&__name {
		@include fz('small');
		font-weight: bold;

		@include breakpoint(max-width $break-sm) {
			font-size: 14px;
		}
	}

	&__leadtext {
		@include fz('small');

		@include breakpoint(max-width $break-sm) {
			font-size: 14px;
		}
	}

	&__header {
		padding-bottom: 20px;

		@include breakpoint(max-width $break-md) {
			padding-bottom: 15px;
		}
	}

	&__header-img {
		width: 108px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
	}

	&__header-row {
		display: flex;

		@include breakpoint(max-width $break-md) {
			flex-wrap: wrap;
		}
	}

	&__header-col_name {
		width: calc(100% - 400px);
		padding-top: 4px;

		@include breakpoint(max-width $break-xl) {
			width: calc(100% - 334px);
		}

		@include breakpoint(max-width $break-md) {
			width: 100%;
			padding-bottom: 19px;
		}
	}

	&__header-col_stat1 {
		width: 243px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		
		@include breakpoint(max-width $break-xl) {
			width: 167px;
		}

		@include breakpoint(max-width $break-md) {
			width: 51%;
			padding-left: 20px;
		}
	}

	&__header-col_stat2 {
		width: 167px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		@include breakpoint(max-width $break-md) {
			width: 49%;
		}
	}

	&__row {
		min-height: 49px;
		display: flex;
		border-radius: 10px;
		padding: 15px 20px 10px;

		@include breakpoint(max-width $break-md) {
			flex-wrap: wrap;
			padding-top: 5px;
			padding-bottom: 4px;
		}

		&:nth-child(odd) {
			min-height: 51px;
			.sideeffect-table_green & {
				background-color: #E2F4F5;
			}
	
			.sideeffect-table_orange & {
				background-color: #FCE8DC;
			}
		}
	}

	&__col_name {
		width: calc(100% - 384px);
		
		@include breakpoint(max-width $break-xl) {
			width: calc(100% - 314px);
		}

		@include breakpoint(max-width $break-md) {
			width: 100%;
		}
	}

	&__col_stat1 {
		width: 237px;

		@include breakpoint(max-width $break-xl) {
			width: 167px;
		}

		@include breakpoint(max-width $break-md) {
			width: 51%;
		}
	}

	&__col_stat2 {
		width: 147px;

		@include breakpoint(max-width $break-md) {
			width: 49%;
		}
	}

	&__footer {
		padding-top: 12px;
	}
}