.test-banner {
	&_questions {
		display: none;
		margin: 0 -20px;
		margin-bottom: 16px;

		@include breakpoint(max-width $break-md) {
			margin: 0;
			margin-bottom: 16px;
		}

		.test-banner__container {
			padding-top: 28px;
		}
		.test-banner__media {
			width: 46.16071%;

			@include breakpoint(max-width $break-md) {
				width: 100%;
			}
		}
		.test-banner__leadtext {
			margin: 57px 0 13px;
		}
		.test-banner__title {
			@include fz('h2');
			margin-bottom: 28px;
		}
		.test-banner__text {
			margin-bottom: 41px;
		}
	}
	&__inner{
		padding-bottom: 6.11%;
	}
	&__container{
		display: flex;
		justify-content: space-between;
		padding-top: 74px;
		padding-bottom: 32px;

		@include breakpoint(max-width $break-md) {
			flex-wrap: wrap;
		}
	}
	&__content{
		width: 50%;

		@include breakpoint(max-width $break-md) {
			width: 100%;
		}
	}
	&__title{
		margin: 0;
		margin-bottom: 55px;
		@include fz('h1');
	}
	&__leadtext{
		margin: 11px 0 13px;
		color: $blue1;
		@include fz('h3');
	}
	&__media{
		width: 41.57%;

		@include breakpoint(max-width $break-md) {
			width: 100%;
		}
	}
}