.testing-table-group {
	&__list {
		display: flex;

		@include breakpoint(max-width $break-md) {
			flex-wrap: wrap;
		}
	}

	&__list-item {
		flex-basis: 50%;
		max-width: 50%;

		@include breakpoint(max-width $break-md) {
			flex-basis: 100%;
			max-width: none;
		}
	}

	&__list-item + &__list-item {
		@include breakpoint(max-width $break-md) {
			margin-top: 28px;
		}
	}
}

.testing-table {
	&__header {

	}

	&__media {
		max-width: 94px;
	}

	&__logo {
		max-width: 100%;
		height: auto;
	}

	&__header-row {
		display: flex;
		padding-top: 27px;
		padding-bottom: 25px;

		@include breakpoint(max-width $break-md) {
			padding-top: 21px;
			padding-bottom: 14px;
		}
	}

	&__header-col_1 {
		width: 55%;
	}

	&__header-col_2 {
		width: 45%;
	}

	&__title {
		@include fz('norm');
		letter-spacing: 0.04em;
		display: flex;
		align-items: flex-end;

		@include breakpoint($break-md $break-xl) {
			min-height: 44px;
		}
	}

	&__content-row + &__content-row {
		margin-top: 18px;

		@include breakpoint(max-width $break-md) {
			margin-top: 3px;
		}
	}

	&__label {
		font-style: italic;
		@include fz('norm');
		padding-bottom: 10px;

		@include breakpoint(max-width $break-md) {
			padding-bottom: 3px;
		}
	}

	&__content-label {
		border-bottom: 1px solid #e6e6e6;
	}

	&__content-label_onlyphone &__label {
		opacity: 0;

		@include breakpoint(max-width $break-md) {
			opacity: 1;
		}
	}

	&__row {
		display: flex;
	}

	&__col_1 {
		width: 55%;
	}

	&__col_2 {
		width: 45%;
	}

	&__value {
		font-family: 'Roboto Slab', serif;
		font-size: 20px;
		line-height: 28px;
		color: #000;
		font-weight: bold;
		padding-top: 10px;
		padding-bottom: 10px;

		@include breakpoint(max-width $break-md) {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}

	&__footer {
		padding-top: 21px;
		padding-bottom: 2px;

		@include breakpoint(max-width $break-md) {
			padding-top: 9px;
		}
	}
}