block pageVar
	-var page = 'faq';

extends ./tpl/layout

block page
	section.section
		.faq-head
			.container.faq-head__container
				.faq-head__content
					h1.faq-head__title Вопросы и ответы
					.faq-head__leadtext Краткий вводный текст про содержание данного раздела
				.faq-head__media
					img.faq-head__img(src='./img/faq.svg')
					img.faq-head__img._mob(src='./img/faq-mob.svg')
	section.section.section_faq
		.faq-items
			.faq-items__inner
				.faq-items-list.js-faq-slider
					.faq-items-list__items.js-faq-slider__list
						-
							var cards = [
								{
									bg: './img/faq-card/card-bg-01.svg',
									text: 'До&nbsp;какого возраста рекомендуется проводить вакцинацию квадривалентной рекомбинантной вакциной против вируса папилломы человека?'
								},
								{
									bg: './img/faq-card/card-bg-02.svg',
									text: 'Нужно&nbsp;ли вакцинировать мальчиков против папилломавирусной инфекции?'
								},
								{
									bg: './img/faq-card/card-bg-01.svg',
									text: 'Насколько оправдана вакцинация девочек, если у&nbsp;них уже есть кондиломы?'
								},
								{
									bg: './img/faq-card/card-bg-02.svg',
									text: 'Какая схема рекомендована для вакцинации квадривалентной вакциной Гардасил против вируса папилломы человека?'
								},
								{
									bg: './img/faq-card/card-bg-01.svg',
									text: 'Считается&nbsp;ли курс вакцинации квадривалентной вакциной завершенным, если нарушен интервал между прививками?'
								},
								{
									bg: './img/faq-card/card-bg-02.svg',
									text: 'Что такое альтернативная схема вакцинации и&nbsp;когда она может применяться?'
								},
								{
									bg: './img/faq-card/card-bg-01.svg',
									text: 'Через сколько лет после вакцинации против папилломавируса квадривалентной вакциной требуется ревакцинация?'
								},
								{
									bg: './img/faq-card/card-bg-02.svg',
									text: 'Какова эффективность вакцинации квадривалентной вакциной и длительность иммунитета против вируса папилломы человека?'
								},
								{
									bg: './img/faq-card/card-bg-01.svg',
									text: 'Можно вводить Гардасил одновременно с&nbsp;другими вакцинами?'
								},
								{
									bg: './img/faq-card/card-bg-02.svg',
									text: 'Нужно&nbsp;ли временно прекращать прием гормональных контрацептивов&nbsp;до, во&nbsp;время или после вакцинации квадривалентной вакциной против вируса папилломы человека?'
								},
								{
									bg: './img/faq-card/card-bg-01.svg',
									text: 'Говорят, что вакцинация квадривалентной вакциной против вируса папилломы человека может негативно сказаться на&nbsp;фертильности. Так&nbsp;ли это?'
								},
								{
									bg: './img/faq-card/card-bg-02.svg',
									text: 'Что такое &laquo;вирусоподобные частицы&raquo;, входящие в&nbsp;состав квадривалентной вакцины?'
								}
							];
						each item, i in cards
							.faq-items-list__items-i
								.faq-item
									.faq-item__bg
										.faq-item__bg-plate(style=("background-image: url(" + item.bg + ")"))
									.faq-item__info
										.faq-item__counter !{i + 1}
										.faq-item__text !{item.text}
										.faq-item__opener.js-modal-btn(data-target=(i + 1 < 10 ? "faq-0" + (i + 1) : "faq-" + (i + 1)))
		.faq-number
			.container
				| RU-HPV-00410 от XX.2020

