block pageVar
	-var page = 'index';

extends ./tpl/layout

block page
	section.section
		.product-head
			.container.product-head__container
				.product-head__content
					h1.product-head__title ГАРДАСИЛ<sup>&reg;</sup>
					.product-head__leadtext Вакцина против вируса папилломы человека квадривалентная рекомбинантная (типов 6, 11, 16, <nobr>18)<span class="note"><span class="note__item">1</span></span></nobr>
				.product-head__media
					img.product-head__img(src="./img/product.png")
		.product-about
			.container
				.product-about__header
					.product-about__title Вирус папилломы человека 
					.product-about__leadtext Вирус папилломы человека (ВПЧ)&nbsp;&mdash; это общее название группы вирусов, чрезвычайно широко распространенных во&nbsp;всем мире<span class="note"><span class="note__item">2</span></span>. Известно около 200 типов ВПЧ<span class="note"><span class="note__item">3</span></span>, из&nbsp;которых не&nbsp;менее 14&nbsp;являются онкогенными (так называемые вирусы высокого онкогенного <nobr>риска)<span class="note"><span class="note__item">4</span></span></nobr>
				.row.no-gutters.product-about__content
					.col-12.col-md-6
						.product-about__text Свыше 40&nbsp;типов ВПЧ могут инфицировать генитальные области мужчин и&nbsp;женщин, включая кожу пениса, вульвы и&nbsp;ануса, и&nbsp;слизистые оболочки влагалища, шейки матки и&nbsp;анального <nobr>канала<span class="note"><span class="note__item">4</span></span></nobr>
					.col-12.col-md-6
						.product-table
							.product-table__title Частота развития раков различной локализации, вызванных 16 и 18 типами ВПЧ
							.product-table__wrap
								.product-table__content
									.product-table__row.product-table__row_percent-70
										.product-table__text Рак шейки матки
										.product-table__count 70%
									.product-table__row.product-table__row_percent-92
										.product-table__text Рак анального канала
										.product-table__count 92%
									.product-table__row.product-table__row_percent-80
										.product-table__text Рак вульвы и&nbsp;влагалища
										.product-table__count 80%
									//- .product-table__row.product-table__row_percent-63
									//- 	.product-table__text Рак полового члена
									//- 	.product-table__count 63%
									//- .product-table__row.product-table__row_percent-89
									//- 	.product-table__text Орофарингеальный рак
									//- 	.product-table__count 89%
								.product-table__footer
									.product-table__footer-item 0
									.product-table__footer-item 20
									.product-table__footer-item 40
									.product-table__footer-item 60
									.product-table__footer-item 80
									.product-table__footer-item 100
								.product-table__legend %&nbsp;ВПЧ-позитивный<span class="note"><span class="note__item">5</span></span>
		.product-character
			.container
				.product-character__header
					//- .product-character__title Предупреждение развития <nobr>ВПЧ<span class="note note_titeled"><span class="note__item">1</span></span> </nobr>
					.product-character__title Предупреждение развития <nobr>ВПЧ-ассоциированных заболеваний</nobr>
					//- .product-character__leadtext Текст, что Гардасил рекомендуется к&nbsp;использованию в&nbsp;следующих случаях
				.product-character__content
					.product-character__item.product-character__item_1
						.product-character__item-text Предупреждения <nobr>развития<span class="note"><span class="note__item">1</span></span></nobr> предраковых генитальных поражений (цервикальная внутриэпителиальная неоплазия 1/2/3 степени (CIN), аденокарциномы шейки матки in&nbsp;situ (AIS), внетриэпителиальной неоплазии вульвы (VIN) 1/2/3 степени и&nbsp;влагалища 1/2/3&nbsp;степени), предраковых поражений анального канала (внутриэпителиальная неоплазия анального канала (AIN) 1/2/3&nbsp;степени), вызванных ВПЧ 6, 11, 16, 18&nbsp;типов
					.product-character__item.product-character__item_2
						.product-character__item-text Предупреждения <nobr>развития<span class="note"><span class="note__item">1</span></span></nobr> рака шейки матки, вульвы, влагалища и&nbsp;анального канала, вызванных ВПЧ 16, 18&nbsp;типов
					.product-character__item.product-character__item_3
						.product-character__item-text Предупреждения <nobr>развития<span class="note"><span class="note__item">1</span></span></nobr> аногенитальных кондилом (condyloma acuminata), вызванных ВПЧ 6, 11&nbsp;типов
		.product-counter
			.container
				.row.no-gutters.product-counter__content
					.col-12.col-md-6
						.product-table.product-table_text-small
							.product-table__wrap
								.product-table__head 6&nbsp;и&nbsp;11&nbsp;типы ВПЧ вызывают практически все виды аногенитальных <nobr>бородавок<span class="note"><span class="note__item">5</span></span></nobr>
								.product-table__content
									.product-table__row.product-table__row_percent-90
										.product-table__text Аногенитальные бородавки у&nbsp;мужчин и&nbsp;женщин
										.product-table__count 90%
									.product-table__row.product-table__row_bg-inner.product-table__row_percent-9
										.product-table__text Рак влагалища
										.product-table__count 9%
								.product-table__footer
									.product-table__footer-item 0
									.product-table__footer-item 20
									.product-table__footer-item 40
									.product-table__footer-item 60
									.product-table__footer-item 80
									.product-table__footer-item 100
					.col-12.col-md-6
						.product-counter__item
							.product-counter__item-num
								span 99%
							.product-counter__item-text До&nbsp;99% случаев рака шейки матки развиваются вследствие <nobr>ВПЧ-инфекции<span class="note"><span class="note__item">3</span></span></nobr>
						.product-counter__item
							.product-counter__item-num
								span 70%
							.product-counter__item-text В&nbsp;70% случаев причиной рака шейки матки оказываются ВПЧ двух типов <nobr>(16&nbsp;и&nbsp;18)<span class="note"><span class="note__item">2</span><span class="note__item">3</span></span></nobr>
		.product-result
			.container
				.row.no-gutters.product-result__content
					.col-12.col-md-6
						.product-result__header
							.product-result__title Подтвержденная эффективность c&nbsp;возраста 9&nbsp;лет*<span class="note note_titeled"><span class="note__item">1</span></span>
							.product-result__leadtext * Нет данных по&nbsp;оценке безопасности и&nbsp;эффективности вакцины Гардасил<sup class="reg">&reg;</sup> у&nbsp;взрослых лиц старше 45&nbsp;лет
						.product-result__media.product-result__media_desktop
							img.product-result__img(src="./img/infograph-1.svg")
					.col-12.col-md-6
						.product-result__list
							.product-result__list-item
								.product-result__panel
									.product-result__panel-text
										p У&nbsp;девочек и&nbsp;женщин от&nbsp;16&nbsp;до&nbsp;26&nbsp;лет вакцина Гардасил<sup>&reg;</sup> эффективно предотвращала рак шейки матки, вульвы, влагалища, а&nbsp;также аногенитальные поражения, включая кондиломы, в&nbsp;98-100% <nobr>случаев<span class="note"><span class="note__item">1</span></span></nobr>
							.product-result__list-item
								.product-result__panel
									.product-result__panel-text
										p У&nbsp;женщин от&nbsp;24&nbsp;до&nbsp;45&nbsp;лет вакцина Гардасил<sup>&reg;</sup> была эффективна для профилактики персистирующей инфекции, CIN (любой степени) или аногенитальных поражений, вызванных ВПЧ 6, 11, 16&nbsp;и&nbsp;18&nbsp;типов, в&nbsp;88,7% <nobr>случаев<span class="note"><span class="note__item">1</span></span></nobr>
							.product-result__list-item
								.product-result__panel
									.product-result__panel-text
										p У&nbsp;мальчиков и&nbsp;мужчин вакцина Гардасил<sup>&reg;</sup> предотвращала связанные с&nbsp;ВПЧ 6, 11, 16&nbsp;и&nbsp;18&nbsp;типов наружные генитальные поражения (аногенитальные кондиломы и&nbsp;пенильную, перинеальную, перианальную внутриэпителиальную неоплазию (PIN) 1/2/3&nbsp;степени) в&nbsp;90,6% случаев, а&nbsp;также анальную внутриэпителиальную неоплазию (AIN) 1/2/3 степени в&nbsp;77,5% <nobr>случаев<span class="note"><span class="note__item">1</span></span></nobr>
										p Эффективность подтверждена так&nbsp;же у&nbsp;мужчин
						.product-result__media.product-result__media_mobile
							img.product-result__img(src="./img/infograph-1.svg")
		.product-use
			.container
				.product-use__title Применение вакцины Гардасил<sup>&reg;</sup>
				.product-use__item
					.product-use__item-content
						.product-use__carousel.js-product-use
							.product-use__carousel-item
								.product-use__wrapper
									.product-use__item-text
										p Вакцину Гардасил<sup>&reg;</sup> вводят внутримышечно в&nbsp;дельтовидную мышцу или верхненаружную поверхность средней трети бедра.
										p Рекомендуемый курс вакцинации состоит из&nbsp;3&nbsp;доз:<span class="note"><span class="note__item">1</span></span>
									ul.product-use__list
										li.product-use__list-item Перва доза&nbsp;&mdash; в&nbsp;назначенный день
										li.product-use__list-item Вторая доза&nbsp;&mdash; через 2&nbsp;мес после первой
										li.product-use__list-item Третья доза&nbsp;&mdash; через 6&nbsp;мес после первой<span class="note"><span class="note__item">1</span></span>
							.product-use__carousel-item
								.product-use__wrapper
									.product-use__item-text
										p Курс вакцинации считается завершенным даже при нарушении интервала между прививками, если три прививки проведены в&nbsp;течение 1&nbsp;года<span class="note"><span class="note__item">1</span></span>
										p Допускается ускоренная схема вакцинации, при которой вторая доза вводится через 1&nbsp;мес после первой прививки, а&nbsp;третья&nbsp;&mdash; через 3&nbsp;мес после второй прививки<span class="note"><span class="note__item">1</span></span>
							.product-use__carousel-item
								.product-use__wrapper
									.product-use__item-text
										p Альтернативная 2-х дозовая схема вакцинации (0-6&nbsp;мес) допускается у&nbsp;лиц в&nbsp;возрасте 9-13&nbsp;лет. При этом в&nbsp;случае введения второй дозы ранее, чем через 6&nbsp;месяцев после первой дозы, всегда необходимо ввести третью дозу<span class="note"><span class="note__item">1</span></span>
										p Если для вакцинации была использована первая доза вакцины Гардасил<sup>&reg;</sup>, то&nbsp;и&nbsp;полный курс вакцинации следует проводить с&nbsp;использованием вакцины Гардасил<sup>&reg;</sup>.
										p Необходимость проведения ревакцинации не&nbsp;установлена<span class="note"><span class="note__item">1</span></span>
							.product-use__carousel-item
								.product-use__wrapper
									.product-use__item-text
										p Вакцину Гардасил<sup>&reg;</sup> можно вводить одновременно (в&nbsp;другой участок тела) с&nbsp;рекомбинантной вакциной против гепатита&nbsp;В, с&nbsp;вакциной менингококковой, конъюгированной с&nbsp;дифтерийным анатоксином, и&nbsp;с&nbsp;инактивированной вакциной против дифтерии, столбняка, коклюша (бесклеточный компонент), вакциной против полиомиелита (инактивированной)<span class="note"><span class="note__item">1</span></span>
										p Применение гормональных контрацептивов не&nbsp;влияло на&nbsp;эффективность, иммуногенность и&nbsp;безопасность вакцины Гардасил<sup>&reg;</sup><span class="note"><span class="note__item">1</span></span>
										p Ингаляционные, местные и&nbsp;парентеральные иммуносупрессанты не&nbsp;влияли на&nbsp;иммуногенность и&nbsp;безопасность вакцины Гардасил<sup>&reg;</sup><span class="note"><span class="note__item">1</span></span>
										p Применение анальгетиков, противовоспалительных препаратов, антибиотиков и&nbsp;витаминных препаратов не&nbsp;влияло на&nbsp;эффективность, иммуногенность и&nbsp;безопасность вакцины<span class="note"><span class="note__item">1</span></span>
					.product-use__item-media
						img.product-use__item-img(src="./img/slide-infograph-1.svg")
						img.product-use__item-img-decor(src="./img/img-null.png")
		.footenote
			.container
				ul.footenote__list
					li.footenote__list-item Инструкция по&nbsp;применению лекарственного препарата для медицинского применения Гардисил<sup>&reg;</sup>. Регистрационный номер ЛС-002293.
					li.footenote__list-item ВОЗ. Информационный бюллетень. Вирус папилломы человека (ВПЧ) и&nbsp;рак шейки матки. Электронный ресурс: <a href="https://www.who.int/ru/news-room/fact-sheets/detail/human-papillomavirus-(hpv)-and-cervical-cancer" target="_blank">https://www.who.int/ru/news-room/fact-sheets/detail/human-papillomavirus-(hpv)-and-cervical-cancer</a> [Доступ осуществлен 26.11.2020].
					li.footenote__list-item CDC. Epidemiology and Prevention of&nbsp;Vaccine-Preventable Diseases. Human Papillomavirus. Электронный ресурс: <a href="https://www.cdc.gov/vaccines/pubs/pinkbook/hpv.html" target="_blank">https://www.cdc.gov/vaccines/pubs/pinkbook/hpv.html</a> [Доступ осуществлен 26.11.2020].
					li.footenote__list-item CDC. Cancer Home. Basic Information About HPV And Cancer. Электронный ресурс: <a href="https://www.cdc.gov/cancer/hpv/basic_info/index.htm" target="_blank">https://www.cdc.gov/cancer/hpv/basic_info/index.htm</a> [Доступ осуществлен 26.11.2020].
					li.footenote__list-item Баранов&nbsp;А.&nbsp;А., Намазова-Баранова&nbsp;Л.&nbsp;С., Таточенко&nbsp;В.&nbsp;К., с&nbsp;соавт. Вакцинопрофилактика заболеваний, вызванных вирусом папилломы человека: позиции доказательной медицины.в Обзор клинических рекомендаций. Вопросы современной педиатрии.&nbsp;2017; 16 (2): 107&ndash;117.
				.footenote__leadtext RU-HPV-00259 от&nbsp;XX.2020
		.info
			.container
				.info__title Расширенная ключевая информация по&nbsp;безопасности на&nbsp;основании инструкции по&nbsp;медицинскому применению лекарственного препарата Гардасил<sup>&reg;</sup>, регистрационный номер ЛС-002293
				.info__content
					p <b>Название препарата:</b> Гардасил<sup>&reg;</sup>
					p <b>Группировочное название:</b> вакцина против вируса папилломы человека квадривалентная рекомбинантная (типов 6, 11, 16, 18). Human Papillomavirus (Types&nbsp;6, 11, 16, 18) quadrivalent recombinant vaccine.
					p <b>Противопоказания:</b> гиперчувствительность к&nbsp;активным компонентам и&nbsp;вспомогательным веществам вакцины, при возникновении симптомов гиперчувствительности после введения вакцины Гардасил<sup>&reg;</sup> введение последующей дозы вакцины противопоказано; гемофилия, тромбоцитопения или любые нарушения свертываемости крови являются относительным противопоказанием к&nbsp;внутримышечному введению вакцины; если отмечается острое тяжелое лихорадочное заболевание, то&nbsp;введение вакцины следует отложить, вместе с&nbsp;тем, наличие легкой инфекции или небольшого подъема температуры тела не&nbsp;является противопоказанием к&nbsp;вакцинации.
					p <b>Особые указания:</b> подкожное и&nbsp;внутрикожное введение вакцины не&nbsp;изучалось и&nbsp;поэтому не&nbsp;рекомендуется. Как и&nbsp;при введении любой вакцины, в&nbsp;лечебно-профилактическом кабинете всегда нужно иметь наготове соответствующие лекарственные средства на&nbsp;случай развития редкой анафилактической реакции на&nbsp;введение вакцины. Непосредственно после введения вакцины в&nbsp;течение 30&nbsp;мин за&nbsp;пациентом осуществляется медицинское наблюдение с&nbsp;целью своевременного выявления поствакцинальных реакций и&nbsp;осложнений и&nbsp;оказания экстренной медицинской помощи. При проведении любой вакцинации может наблюдаться обморок, особенно у&nbsp;подростков и&nbsp;молодых женщин; у&nbsp;лиц с&nbsp;нарушенной реактивностью иммунной системы вследствие применения иммуносупрессантной терапии (системные кортикостероиды, цитотоксичные препараты, антиметаболиты, алкилирующие препараты), генетического дефекта, инфекции вирусом иммунодефицита человека (ВИЧ) и&nbsp;других причин защитный эффект может быть снижен; вакцину следует вводить с&nbsp;осторожностью лицам с&nbsp;тромбоцитопенией и&nbsp;любыми нарушениями свертывания крови, поскольку после внутримышечной инъекции у&nbsp;таких лиц может развиться кровотечение. Влияние на&nbsp;способность управлять транспортными средствами и&nbsp;работать с&nbsp;механизмами: исследований влияния на&nbsp;способность управлять автомобилем, а&nbsp;также работу с&nbsp;механизмами не&nbsp;проводилось.
					p <b>Побочное действие:</b> наиболее частые нежелательные явления: пирексия, боль в&nbsp;конечностях; местные реакции: покраснение, боль, припухлость, зуд, гематома; нежелательные реакции, о&nbsp;которых сообщалось во&nbsp;время пострегистрационного применения вакцины, достоверно оценить частоту которых и&nbsp;связь с&nbsp;прививкой не&nbsp;редставляется возможным: флегмона, идиопатическая тромбоцитопеническая пурпура, лимфаденопатия, головокружение, головная боль, синдром Гийена-Барре, острый рассеянный энцефаломиелит, обморок, иногда сопровождаемый тоническиклоническими судорогами, тошнота, рвота, артралгия, миалгия, астения, усталость, озноб, дискомфорт, реакции гиперчувствительности, включая анафилактические/анафилактоидные реакции, бронхоспазм и&nbsp;крапивницу.
					p <b>Клинически значимые лекарственные взаимодействия:</b> вакцину можно вводить одновременно (в&nbsp;другой участок тела) с&nbsp;рекомбинантной вакциной против гепатита&nbsp;В, с&nbsp;вакциной менингококковой, конъюгированной с&nbsp;дифтерийным анатоксином, и&nbsp;с&nbsp;инактивированной вакциной против дифтерии, столбняка, коклюша (бесклеточный компонент), вакциной против полиомиелита (инактивированной). Применение анальгетиков, противовоспалительных препаратов, антибиотиков и&nbsp;витаминных препаратов не&nbsp;влияло на&nbsp;эффективность, иммуногенность и&nbsp;безопасность вакцины. Применение гормональных контрацептивов не&nbsp;влияло на&nbsp;эффективность, иммуногенность и&nbsp;безопасность вакцины. Ингаляционные, местные и&nbsp;парентеральные иммуносупрессанты не&nbsp;влияли на&nbsp;иммуногенность и&nbsp;безопасность вакцины. Данные об&nbsp;одновременном применении системных иммуносупрессантов и&nbsp;вакцины отсутствуют. У&nbsp;лиц, принимающих иммуносупрессанты (системные кортикостероиды, антиметаболиты, алкилирующие препараты, цитотоксичные препараты), защитный эффект может быть снижен.
					p <b>Клинически значимая информация по&nbsp;применению у&nbsp;особых групп населения:</b> нет данных о&nbsp;том, что введение вакцины оказывает нежелательное воздействие на&nbsp;фертильность, беременность или на&nbsp;плод, которые заставили&nbsp;бы усомниться в&nbsp;ее&nbsp;безопасности. Специально спланированных и&nbsp;хорошо контролируемых исследований у&nbsp;беременных женщин не&nbsp;проводилось. Данных о&nbsp;применении вакцины во&nbsp;время беременности и&nbsp;о&nbsp;потенциальном воздействии вакцины на&nbsp;репродуктивную функцию женщины и&nbsp;на&nbsp;плод у&nbsp;беременных недостаточно, чтобы рекомендовать использование вакцины во&nbsp;время беременности. Следует предупредить пациенток о&nbsp;необходимости предохранения от&nbsp;беременности в&nbsp;течение курса вакцинации, а&nbsp;при наступлении беременности вакцинацию следует отложить до&nbsp;ее&nbsp;завершения. В&nbsp;клинических исследованиях частота нежелательных явлений у&nbsp;кормящих матерей и&nbsp;младенцев были сопоставимы в&nbsp;группе вакцины и&nbsp;группе плацебо. Вакцину Гардасил<sup>&reg;</sup> можно вводить кормящим женщинам. У&nbsp;детей в&nbsp;возрасте до&nbsp;9&nbsp;лет безопасность и&nbsp;эффективность вакцины не&nbsp;оценивались. Нет данных по&nbsp;оценке безопасности и&nbsp;эффективности вакцины у&nbsp;взрослых лиц старше 45&nbsp;лет.
					p <b>Показания к&nbsp;применению:</b> вакцина показана к&nbsp;применению лицам в&nbsp;возрасте от&nbsp;9&nbsp;лет для предупреждения: предраковых генитальных поражений (цервикальная внутриэпителиальная неоплазия 1/2/3 степени (СIN), аденокарцинома шейки матки in&nbsp;situ (AIS), внутриэпителиальная неоплазия вульвы (VIN) 1/2/3 степени и&nbsp;влагалища (VaIN) 1/2/3&nbsp;степени; предраковых поражений анального канала (внутриэпителиальная неоплазии анального канала (AIN) 1/2/3&nbsp;степени), вызванных ВПЧ 6, 11, 16&nbsp;и&nbsp;18&nbsp;типов; &mdash;&nbsp;рака шейки матки, вульвы, влагалища и&nbsp;анального канала, вызванных ВПЧ 16&nbsp;и&nbsp;18&nbsp;типов; аногенитальных кондилом (condyloma acuminata), вызванных ВПЧ 6&nbsp;и&nbsp;11&nbsp;типов.
					p <b>Дозировка:</b> вакцину вводят внутримышечно в&nbsp;дельтовидную мышцу или верхненаружную поверхность средней трети бедра. Разовая доза вакцины для всех возрастных групп составляет 0,5&nbsp;мл. Рекомендуемый курс вакцинации состоит из&nbsp;3&nbsp;доз и&nbsp;проводится по&nbsp;схеме (0-2-6&nbsp;мес.): первая доза&nbsp;&mdash; в&nbsp;назначенный день, вторая доза&nbsp;&mdash; через 2&nbsp;мес. после первой, третья доза&nbsp;&mdash; через 6&nbsp;мес. после первой. Допускается ускоренная схема вакцинации, при которой вторая доза вводится через 1&nbsp;мес. после первой прививки, а&nbsp;третья&nbsp;&mdash; через 3&nbsp;мес. после второй прививки. Курс вакцинации считается завершенным даже при нарушении интервала между прививками, если три прививки проведены в&nbsp;течение 1&nbsp;года. Альтернативная 2-х дозовая схема вакцинации (0-6&nbsp;мес.) препаратом Гардасил<sup class="reg">&reg;</sup> допускается у&nbsp;лиц в&nbsp;возрасте 9-13&nbsp;лет. При этом в&nbsp;случае введения второй дозы ранее, чем через 6&nbsp;месяцев после первой дозы, всегда необходимо ввести третью дозу.
					p <b>Юридическое лицо, на&nbsp;имя которого выдано регистрационное удостоверение:</b> Мерк Шарп и&nbsp;Доум Б.В., Нидерланды
		.copyright
			.container
				.copyright__media
					img.copyright__img(src="./img/logo-blue.svg" alt="MSD")
				.copyright__content
					p Перед назначением любого препарата, упомянутого в&nbsp;данном материале, пожалуйста, ознакомьтесь с&nbsp;полной инструкцией по&nbsp;применению, предоставляемой компанией-производителем. Компания MSD не&nbsp;рекомендует применять препараты компании способами, отличными от&nbsp;описанных в&nbsp;инструкции по&nbsp;применению
					p ООО &laquo;МСД Фармасьютикалс&raquo;
					p 119021&nbsp;Россия, г. Москва, ул. Тимура Фрунзе д.&nbsp;11&nbsp;стр.&nbsp;1
					p Тел.: +7&nbsp;495 916-71-00
					p Факс: +7&nbsp;495 916-70-94
					p <a href="https://www.msd.ru" target="_blank">www.msd.ru</a>
					p RU-HPV-00242 от&nbsp;08.2020
