block pageVar
	-var page = 'test';
	-
		var test = [
			{
				question: 'Какова распространенность вируса папилломы человека?',
				answers: [
					{
						label: 'a',
						text: '10% сексуально активного населения инфицируется ВПЧ в течение жизни',
						option: false
					},
					{
						label: 'b',
						text: '45% сексуально активного населения инфицируется ВПЧ в течение жизни',
						option: false
					},
					{
						label: 'c',
						text: 'Около 80% сексуально активного населения инфицируется ВПЧ в течение жизни',
						option: true
					}
				]
			},
			{
				question: 'Какая особенность позволяет вирусу папилломы человека годами «скрываться» от иммунной системы человека?',
				answers: [
					{
						label: 'a',
						text: 'Сверхбольшая масса вируса',
						option: false
					},
					{
						label: 'b',
						text: 'ВПЧ не проникает в кровь, следовательно, не приводит к формированию приобретенного постинфекционного иммунитета',
						option: true
					},
					{
						label: 'c',
						text: 'Наличие в капсиде вируса белков L1',
						option: false
					}
				]
			},
			{
				question: 'Каков риск передачи вируса папилломы человека при однократном половом контакте?',
				answers: [
					{
						label: 'a',
						text: '10%',
						option: false
					},
					{
						label: 'b',
						text: '50%',
						option: false
					},
					{
						label: 'c',
						text: '80%',
						option: true
					}
				]
			},
			{
				question: 'За открытие вируса папилломы человека, как причины рака шейки матки:',
				answers: [
					{
						label: 'a',
						text: 'Немецкий исследователь Гаральд Цур Хаузен и его коллеги были первыми привиты против ВПЧ',
						option: false
					},
					{
						label: 'b',
						text: 'В 2008 году немецкий исследователь Гаральд Цур Хаузен получил Нобелевскую премию в области медицины',
						option: true
					},
					{
						label: 'c',
						text: 'Немецкий исследователь Гаральд Цур Хаузен и его коллеги были уволены из лаборатории',
						option: false
					}
				]
			},
			{
				question: 'По статистике, примерно у 30% пациенток рак шейки матки диагностируется на III-IV стадии заболевания. Излечивается ли рак шейки матки на этих стадиях?',
				answers: [
					{
						label: 'a',
						text: 'К сожалению, нет',
						option: true
					},
					{
						label: 'b',
						text: 'Да',
						option: false
					},
					{
						label: 'c',
						text: 'Да, но только при помощи химиотерапии',
						option: false
					}
				]
			},
			{
				question: 'Какие активные вещества содержит квадривалентная вакцина против вируса папилломы человека?',
				answers: [
					{
						label: 'a',
						text: 'Живые обезвреженные вирусы папилломы человека 6, 11, 16 и 18 типов',
						option: false
					},
					{
						label: 'b',
						text: 'Вакцина не содержит вирусов, только рекомбинантные высокоочищенные белки L1 капсида вируса папилломы человека 6, 11, 16 и 18 типов',
						option: true
					},
					{
						label: 'c',
						text: 'Генетический материал вирусов папилломы человека 6, 11, 16 и 18 типов',
						option: false
					}
				]
			},
			{
				question: 'Сколько доз составляют полный курс вакцинации квадривалентной вакциной против вируса папилломы человека?',
				answers: [
					{
						label: 'a',
						text: '3 дозы',
						option: true
					},
					{
						label: 'b',
						text: '4 дозы',
						option: false
					},
					{
						label: 'c',
						text: '1 доза',
						option: false
					}
				]
			},
			{
				question: 'У какого процента вакцинируемых квадривалентной вакциной происходит выработка специфических антител к вирусу папилломы человека 6, 11, 16 и 18 типов?',
				answers: [
					{
						label: 'a',
						text: '67%',
						option: false
					},
					{
						label: 'b',
						text: '81%',
						option: false
					},
					{
						label: 'c',
						text: '98%',
						option: true
					}
				]
			},
			{
				question: 'В каком возрасте допускается  вакцинация квадривалентной вакциной против вируса папилломы человека по альтернативной 2-х дозовой схеме?',
				answers: [
					{
						label: 'a',
						text: '20 – 26 лет',
						option: false
					},
					{
						label: 'b',
						text: '18 – 21 год',
						option: false
					},
					{
						label: 'c',
						text: '9 – 13 лет',
						option: true
					}
				]
			},
			{
				question: 'Лицам какого пола показана вакцинация квадривалентной вакциной против вируса папилломы человека?',
				answers: [
					{
						label: 'a',
						text: 'Женского и мужского',
						option: true
					},
					{
						label: 'b',
						text: 'Только женского',
						option: false
					},
					{
						label: 'c',
						text: 'Только мужского',
						option: false
					}
				]
			}
		];

extends ./tpl/layout

block page
	section.section
		.container
			.questions
				.questions__counter #{'1/' + test.length }
				h1.questions__title Какова распространенность вируса папилломы человека?
				.questions__answers
					each item, i in test
						.questions__item(class=(i == 0) ? 'active' : '', data-question=(item.question))
							each answer, index in test[i].answers
								.answer.js-questions-choose(data-answer=(answer.option ? 'true' : 'false'))
									.answer__label #{answer.label}
									.answer__inner
										.answer__content
											.answer__text 
												| #{answer.text}
											.answer__help
												| #{answer.option ? 'Верно!' : 'Неверно'}
				.questions__btn
					.btn.js-questions-next Следующий вопрос

			.test-banner.test-banner_questions
				.test-banner__container
					.test-banner__media
						img.image(src='./img/test-result.svg')
					.test-banner__content
						.test-banner__leadtext
							span.js-questions-result 5
							|  верных ответов из 
							span #{test.length}
						h1.test-banner__title
							| Вы&nbsp;хорошо справились с&nbsp;тестом
						.test-banner__text
							| Чтобы лучше разобраться в&nbsp;вопросе Папилломавирусной инфекции рекомендуем Вам наши 
							a.link(href="https://www.msdmed.ru/video/")
								| обучающие видео-уроки
						.btn.js-questions-reset пройти тест ещё раз
	section.section.section_number
		.container
			| RU-HPV-00411 от XX.2020
