block pageVar
	-var page = 'test';

extends ./tpl/layout

block page
	section.section
		.test-banner
			.container.test-banner__container
				.test-banner__media
					img.image(src='./img/test.svg')
				.test-banner__content
					.test-banner__leadtext Тест
					h1.test-banner__title Папилломавирусная инфекция
					a.btn(href="test-page.html") Пройти тест

	section.section.section_number
		.container
			| RU-HPV-00411 от XX.2020
