.modal {
	display: none;
	position: fixed;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	z-index: 200;

	&.is-active {
		display: block;
	}

	&__inner {
		position: relative;
		min-height: 100vh;
		padding: 90px 20px;
		@include breakpoint(max-width $break-md) {
			padding: 40px;
		}
		@include breakpoint(max-width $break-sm) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__substrate {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: -60px;
		//background-color: $gray7;
		background: linear-gradient(91.67deg, $bg-gradient1 0%, $bg-gradient2 99.93%);
		opacity: .78;
		@include breakpoint(max-width $break-md) {
			bottom: -35px;
		}
	}
	&__item {
		display: none;
		position: relative;
		margin: 0 auto;
		background-color: $white;
		z-index: 1;

		width: 70%;
		max-width: 900px;
		border-radius: 10px;
		padding: 40px 90px 30px;
		@include breakpoint(max-width $break-lg) {
			padding-left: 60px;
		}

		@include breakpoint(max-width $break-md) {
			padding: 20px 30px 10px;
			width: 85%;
		}
		@include breakpoint(max-width $break-sm) {
			width: 100%;
		}

		&_large {
			padding-bottom: 300px;
		}
	}
	&__close {
		position: absolute;
		top: 30px;
		right: 30px;
		width: 44px;
		height: 44px;
		background-color: $blue2;
		border-radius: 50%;
		cursor: pointer;
		transition: color .5s;
		background-color: $blue2;
		background-image: url("../img/plus.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 20px 20px;
		cursor: pointer;
		transform: rotate(45deg);

		&:hover {
			background-color: $blue3;
		}
		@include breakpoint(max-width $break-md) {
			top: 10px;
			right: 10px;
		}
	}
}

//modal ITEMS
.modal-faq{
	&__q{
		@include fz('h3');
		@include breakpoint(max-width $break-md) {
			padding-right: 30px;
		}
	}
	&__a{
		@include fz('norm');
	}
	&__navigate{
		position: absolute;
		top: calc(100% + 25px);
		left: 0;
		text-align: center;
		display: flex;
		flex: 1 1 100%;
		justify-content: center;
		justify-items: center;
		width: 100%;
		max-width: 100%;
		@include breakpoint(max-width $break-md) {
			top: calc(100% + 15px);
		}
		&-i{
			display: block;
			width: 60px;
			height: 60px;
			border: 1px solid $blue1;
			background-color: $white;
			background-position: center;
			background-size: 22px auto;
			background-repeat: no-repeat;
			background-image: url('../img/arrow-next.svg');
			font-size: 0;
			border-radius: 50%;
			//transform: matrix(-1, 0, 0, 1, 0, 0);
			cursor: pointer;
			@include breakpoint(max-width $break-md) {
				width: 45px;
				height: 45px;
				background-size: 15px auto;
			}
			&._next{
				margin-left: 40px;
				order: 2;
				@include breakpoint(max-width $break-md) {
					margin-left: 25px;
				}
			}
			&._prev{
				transform: rotate(180deg);
				order: 1;
			}
			&._disable{
				cursor: default;
				opacity: 0.75;
			}
		}
	}
}
